<div id="@@name" class="view tab @@name active">
<!-- START: NAVBAR ##########################################################-->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only refresh-task-btn">
          <i class="daily-icon daily-app-refresh"></i>
        </a>
      </div>
      <div class="center sliding">DailyFive</div>
      <div class="right">
        <a href="#" class="link icon-only popup-task-btn">
          <i class="daily-icon daily-app-add"></i>
        </a>
      </div>
    </div>
  </div>
<!-- END: NAVBAR ############################################################-->

  <div class="pages navbar-through">

<!-- START: PAGE -> INDEX ###################################################-->
    <div data-page="index" class="page">
      <div class="page-content">

        <div class="list-block daily-task-list">

        </div> <!-- // end: list-block daily-task-list -->

      </div> <!-- // end: page-content -->
    </div> <!-- // end: page -->
<!-- END: PAGE -> INDEX #####################################################-->
  </div>
</div>
