<div id="@@name" class="view tab @@name">
  <div class="navbar">


<!-- SETTINGS ###############################################################-->
    <div data-page="settings" class="navbar-inner">
      <div class="left"></div>
      <div class="center sliding">Einstellungen</div>
      <div class="right"></div>
    </div> <!-- // end: navbar-inner:settings -->
<!-- END: SETTINGS ##########################################################-->



<!-- LOCATION ###############################################################-->
    <div data-page="location" class="navbar-inner cached">
      <div class="left sliding">
        <a href="#" class="back link">
          <i class="icon icon-back"></i>
          <span class="">Zurück</span>
        </a>
      </div>
      <div class="center sliding">Orte</div>
      <div class="right">
        <a href="#" class="link icon-only popup-loc">
          <i class="daily-icon daily-app-add"></i>
        </a>
      </div>
    </div> <!-- // end: navbar-inner:location -->
<!-- END: LOCATION ##########################################################-->



<!-- LOCATION DETAIL ########################################################-->
    <div data-page="location-detail" class="navbar-inner cached">
      <div class="left sliding">
        <a href="#" class="back link">
          <i class="icon icon-back"></i>
          <span class="">Zurück</span>
        </a>
      </div>
      <div class="center sliding">Ort</div>
      <div class="right">
        <a href="#" class="link popup-loc-edit">Bearbeiten</a>
      </div>
    </div> <!-- // end: navbar-inner:location -->
<!-- END: LOCATION DETAIL ###################################################-->




<!-- ABOUT ##################################################################-->
    <div data-page="about" class="navbar-inner cached">
      <div class="left sliding">
        <a href="#" class="back link">
          <i class="icon icon-back"></i>
          <span class="">Zurück</span>
        </a>
      </div>
      <div class="center sliding">Info</div>
      <div class="right"></div>
    </div> <!-- // end: navbar-inner:about -->
<!-- END: ABOUT #############################################################-->



<!-- THEME ##################################################################-->
    <div data-page="theme" class="navbar-inner cached">
      <div class="left sliding">
        <a href="#" class="back link">
          <i class="icon icon-back"></i>
          <span class="">Zurück</span>
        </a>
      </div>
      <div class="center sliding">Thema</div>
      <div class="right"></div>
    </div> <!-- // end: navbar-inner:theme -->
<!-- END: THEME #############################################################-->
  </div>



  <div class="pages navbar-through">
<!-- SETTINGS ###############################################################-->
    <div data-page="settings" class="page">
      <div class="page-content">

        <div class="content-block-title">ALLGEMEIN</div>
        <div class="list-block">
          <ul>
            <li>
              <a href="#location" class="item-link item-content">
                <div class="item-media"><i class="icon icon-form-location"></i></div>
                <div class="item-inner">
                  <div class="item-title">Orte</div>
                </div>
              </a>
            </li>

            <li>
              <a href="#about" class="item-link item-content">
                <div class="item-media"><i class="icon icon-form-info"></i></div>
                <div class="item-inner">
                  <div class="item-title">Info</div>
                </div>
              </a>
            </li>

            <li>
              <a href="#theme" class="item-link item-content">
                <div class="item-media"><i class="icon icon-form-theme"></i></div>
                <div class="item-inner">
                  <div class="item-title">Thema</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="content-block-title">Daten Löschen</div>
        <div class="content-block">
          <p>
            Es werden alle angelegten Aufgaben, Orte und Nutzerdaten gelöscht.
            Der Löschvorgang kann nicht mehr rückgängig gemacht werden.
          </p>
        </div>
        <div class="list-block">
          <ul>
            <li>
              <a href="#" class="item-link list-button color-red" id="reset-app">Alle Daten löschen</a>
            </li>
          </ul>
        </div>

      </div>
    </div> <!-- // end: page:settings -->
<!-- END: SETTINGS ##########################################################-->



<!-- START: LOCATION ########################################################-->
    <div data-page="location" class="page cached">
      <div class="page-content">
        <div class="content-block-title">Positionsbestimmung</div>
        <div class="content-block">
          <p>
            Die Positionsbestimmung dient nur der Auswertung positionsbezogener Aufgaben. Der Standortverlauf wird zu keiner Zeit gespeichert oder übermittelt.
          </p>
        </div>
        <div class="list-block">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Orte verwenden</div>
                  <div class="item-after">
                    <label class="label-switch">
                      <input type="checkbox" id="locations_cb">
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="list-block locations-list"></div>

      </div> <!-- // end: page-content -->
    </div> <!-- // end: page:locations -->
<!-- END: LOCATION ##########################################################-->



<!-- START: LOCATION DETAIL #################################################-->
    <div data-page="location-detail" class="page cached">
      <div class="page-content">

        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title loc-name">Name</div>
              </div>
            </li>
          </ul>
        </div>

        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title loc-street">Straße</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title loc-zip">Postleitzahl</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title loc-city">Stadt</div>
              </div>
            </li>
          </ul>
        </div>

        <div class="list-block">
          <ul>
            <li>
              <a href="#" class="item-link list-button color-red loc-delete" data-loc-id="">Löschen</a>
            </li>
          </ul>
        </div>

      </div> <!-- // end: page-content -->
    </div> <!-- // end: page:locations-detail -->
<!-- END: LOCATION DETAIL ###################################################-->



<!-- START: ABOUT ###########################################################-->
    <div data-page="about" class="page cached">
      <div class="page-content">
        <div class="content-block">
          <div class="content-block-inner text-center">
            <img src="./img/app/daily-five-logo-outline.svg" />
            <h2>DailyFive</h2>
          </div>
        </div>

        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Version</div>
                <div class="item-after" id="version"></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="content-block-title">Verwendete Bibliotheken</div>
        <div class="list-block">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Framework7 (MIT)</div>
                <div class="item-after">1.4.2</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">jQuery (MIT)</div>
                <div class="item-after">2.2.1</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Moment.js (MIT)</div>
                <div class="item-after">2.11.2</div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title">Ionicons (MIT)</div>
                <div class="item-after">2.0.1</div>
              </div>
            </li>
          </ul>
        </div>

        <div class="content-block">
          <p>
            Copyright &copy; 2016 Stephan Sandriesser
          </p>
        </div>
      </div>
    </div> <!-- // end: page:about -->
<!-- END: ABOUT #############################################################-->



<!-- START: THEME ###########################################################-->
    <div data-page="theme" class="page cached">
      <div class="page-content">
        <div class="list-block" id="theme-list">
          <ul>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-daily" checked="checked">
                <div class="item-inner">
                  <div class="item-title">DailyFive</div>
                </div>
              </label>
            </li>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-blue">
                <div class="item-inner">
                  <div class="item-title">Blau</div>
                </div>
              </label>
            </li>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-red">
                <div class="item-inner">
                  <div class="item-title">Rot</div>
                </div>
              </label>
            </li>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-green">
                <div class="item-inner">
                  <div class="item-title">Grün</div>
                </div>
              </label>
            </li>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-pink">
                <div class="item-inner">
                  <div class="item-title">Pink</div>
                </div>
              </label>
            </li>
            <li>
              <label class="label-radio item-content">
                <input type="radio" value="theme-orange">
                <div class="item-inner">
                  <div class="item-title">Orange</div>
                </div>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- // end: page:theme -->
<!-- END: THEME #############################################################-->
  </div>
</div>
