<div id="@@name" class="view tab @@name">
<!-- START: NAVBAR ##########################################################-->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link icon-only refresh-task-btn">
          <i class="daily-icon daily-app-refresh"></i>
        </a>
      </div>
      <div class="center sliding">Aufgaben</div>
      <div class="right">
        <a href="#" class="link icon-only popup-task-btn">
          <i class="daily-icon daily-app-add"></i>
        </a>
      </div>
      <div class="subnavbar">
        <div class="buttons-row">
          <a href="#" class="button active" data-list-mode="topic">Aktuell</a>
          <a href="#" class="button" data-list-mode="done">Erledigt</a>
          <a href="#" class="button" data-list-mode="outdated">Abgelaufen</a>
        </div>
      </div>
    </div>
  </div>
<!-- END: NAVBAR ############################################################-->

  <div class="pages navbar-through">

<!-- START: PAGE -> INDEX ###################################################-->
    <div data-page="page-todo-list" class="page with-subnavbar">
      <div class="page-content">

        <div class="list-block todo-task-list">

        </div> <!-- // end: list-block daily-task-list -->

      </div> <!-- // end: page-content -->
    </div> <!-- // end: page -->
<!-- END: PAGE -> INDEX #####################################################-->
  </div>
</div>
