<div class="popup @@name">
  <div id="popup-view-task" class="view popup-view-task">
<!-- START: NAVBAR ##########################################################-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only btn-task-save">
            <i class="daily-icon daily-app-check"></i>
          </a>
        </div>
        <div class="center">Neue Aufgabe</div>
        <div class="right">
          <a href="#" class="link icon-only close-popup">
            <i class="daily-icon daily-app-close"></i>
          </a>
        </div>
      </div>
    </div>
<!-- END: NAVBAR ############################################################-->

    <div class="pages navbar-through">
      <div data-page="add-task" class="page">
<!-- START: CONTENT #########################################################-->
        <div class="page-content">


          <div class="content-block-title">NEUE AUFGABE ANLEGEN</div>
          <div class="list-block">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                        <input type="text" class="task-name" placeholder="Aufgabe">
                        <input type="hidden" class="task-id">
                        <input type="hidden" class="task-date">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div> <!-- // end: list-block -->


          <div class="content-block-title">Priorität</div>
          <div class="content-block">
            <p class="buttons-row task-priority">
              <a href="#" class="button active">1</a>
              <a href="#" class="button">2</a>
              <a href="#" class="button">3</a>
              <a href="#" class="button">4</a>
            </p>
            <div class="row">
              <div class="col-50">sehr wichtig</div>
              <div class="col-50 text-right">wenig wichtig</div>
            </div>
          </div> <!-- // end: content-block -->


          <div class="content-block-title">DATUM WÄHLEN</div>
          <div class="content-block">
            <p class="buttons-row task-date-mode">
              <a href="#" class="button active" data-date-mode="at">erledigen am</a>
              <a href="#" class="button" data-date-mode="until">erledigen bis</a>
            </p>
          </div> <!-- // end: content-block -->


          <div class="list-block">
            <ul>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <input type="text" placeholder="Datum wählen" readonly id="task-calendar">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div> <!-- // end: list-block -->


          <div class="content-block-title">OPTIONAL</div>
          <div class="list-block">
            <ul>
              <li class="disabled">
                <a href="#" class="item-link smart-select task-locations" data-page-title="Orte" data-back-text="Zurück">
                  <select multiple></select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Orte</div>
                      <div class="item-after"></div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="align-top">
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                        <textarea placeholder="Notizen" class="task-note"></textarea>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div> <!-- // end: list-block -->


          <div class="content-block">
            <a href="#" class="button button-big button-fill btn-task-save">Hinzufügen</a>
          </div> <!-- // end: content-block -->


        </div> <!-- // end: page-content -->
<!-- END: CONTENT ###########################################################-->
      </div>
    </div>
  </div>
</div>
