<div class="popup @@name">
  <div class="pages navbar-through">
    <div data-page="add-location" class="page">

<!-- START: NAVBAR ##########################################################-->
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left">
            <a href="#" class="link icon-only loc-save">
              <i class="daily-icon daily-app-check"></i>
            </a>
          </div>
          <div class="center">Neuer Ort</div>
          <div class="right">
            <a href="#" class="link icon-only close-popup">
              <i class="daily-icon daily-app-close"></i>
            </a>
          </div>
        </div>
      </div>
<!-- END: NAVBAR ############################################################-->



<!-- START: CONTENT #########################################################-->
      <div class="page-content">

        <div class="list-block">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-input">
                      <input type="text" class="loc-name" placeholder="Name">
                      <input type="hidden" class="loc-id">
                      <input type="hidden" class="loc-long">
                      <input type="hidden" class="loc-lat">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div> <!-- // end: list-block -->


        <div class="list-block">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-input">
                      <input type="text" class="loc-street" placeholder="Straße">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-input">
                      <input type="text" class="loc-zip" placeholder="Postleitzahl">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-input">
                      <input type="text" class="loc-city" placeholder="Stadt">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div> <!-- // end: list-block -->
        <div class="content-block">
          <p>
            Um einen neuen Ort anzulegen oder zu ändern, wird eine Internetverbindung benötigt.
          </p>
        </div>


        <div class="content-block">
          <a href="#" class="button button-big button-fill loc-save">Hinzufügen</a>
        </div> <!-- // end: content-block -->


      </div> <!-- // end: page-content -->
<!-- END: CONTENT ###########################################################-->
    </div>
  </div>
</div>
