<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#view-main" class="tab-link active">
      <i class="daily-icon daily-app-daily-outline"></i>
      <span class="tabbar-label">DailyFive</span>
    </a>
    <a href="#view-todo-list" class="tab-link">
      <i class="daily-icon daily-app-check-outline"></i>
      <span class="tabbar-label">Aufgaben</span>
    </a>
    <a href="#view-settings" class="tab-link">
      <i class="icon ion-ios-gear-outline"></i>
      <span class="tabbar-label">Einstellungen</span>
    </a>
  </div>
</div>
