//------------------------------------------------------------------------------
// App
//

// Bourbon v4.2.6
@import
  "libs/bourbon/bourbon";

// normalize.css v3.0.3
// By default not included, because if you use a css framework like twitter
// bootstrap, normalize is already included

// @import
//   "libs/normalize/normalize";

// Import Variables
@import
  "base/variables",
  "base/colors",
  "base/mixin",
  "base/base-styles-7";

// Import Layout
// @import
//   "layout/layout",
//   "layout/navbar";

// Import Module
@import
  "module/daily-list-element";

// Import States
// @import
//   "states/";

// Import Themes
@import
  "theme/iostheme",
  "theme/icons";

//------------------------------------------------------------------------------
// Standard Media Queries "rem" version
// Required bourbon
//

// Smartphone landscape (liegend)
@media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {

}
// Desktop aufwaerts
@media (min-width: rem($desktop-breakpoint-min)) {

}
// large Desktop aufwaerts
@media (min-width: rem($desktop-large-breakpoint-min)) {

}

//------------------------------------------------------------------------------
// Standard Media Queries "px" version
//

// Smartphone landscape (liegend)
@media (max-width: $mobile-breakpoint-max * 1px)  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: $mobile-breakpoint-max * 1px) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: $tablet-breakpoint-min * 1px) {

}
// Desktop aufwaerts
@media (min-width: $desktop-breakpoint-min * 1px) {

}
// large Desktop aufwaerts
@media (min-width: $desktop-large-breakpoint-min * 1px) {

}
