@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
.statusbar-overlay {
  background: #8E8E93;
  /* We can add transition for smooth color animation */
  -webkit-transition: 400ms;
  transition: 400ms; }

/* Change Status bar background when panel opened */
body.with-panel-left-cover .statusbar-overlay {
  background: #222; }

.page {
  background-color: #EFEFEF; }

.navbar-through .with-subnavbar .page-content {
  padding-top: 86px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.check__item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  padding: 11px;
  min-width: 22px;
  text-align: center; }
  .check__item--A {
    color: rgba(0, 0, 0, 0.54) !important;
    background-color: #FFC107 !important; }
  .check__item--B {
    color: rgba(0, 0, 0, 0.54) !important;
    background-color: #FFCA28 !important; }
  .check__item--C {
    color: rgba(0, 0, 0, 0.54) !important;
    background-color: #FFD54F !important; }

li.swipeout.task .item-content {
  padding: 0 !important; }

.list-block.daily-task-list,
.list-block.todo-task-list {
  margin: 0; }

.todo-checklist {
  min-height: 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  align-items: center; }
  .todo-checklist p {
    margin: 0; }
  .todo-checklist__list {
    min-height: 64px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    align-items: center; }
  .todo-checklist__list:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    transform: scaleY(0.5); }
  .todo-checklist__priority {
    display: flex;
    flex: 0 1 auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    min-width: 64px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
    font-size: 20px;
    line-height: 22px; }
  .todo-checklist__content {
    flex: 1 1 auto;
    align-self: center;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .todo-checklist__content small {
      opacity: 0.4;
      font-size: 12px; }
  .todo-checklist__checkbox {
    display: flex;
    flex: 0 1 auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    min-width: 64px; }
    .todo-checklist__checkbox > button {
      color: rgba(0, 0, 0, 0.12);
      background-origin: content-box;
      background-color: inherit;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 0;
      padding: 5px;
      font-size: 32px; }
  .todo-checklist--state-A, .todo-checklist--state-B, .todo-checklist--state-C, .todo-checklist--state-D {
    background: white; }
  .todo-checklist--state-A .todo-checklist__priority {
    background: #FFC107; }
  .todo-checklist--state-B .todo-checklist__priority {
    background: #ffd454; }
  .todo-checklist--state-C .todo-checklist__priority {
    background: #ffe7a0; }
  .todo-checklist--state-D .todo-checklist__priority {
    background: #fffaed; }
  .todo-checklist--checked {
    background: white !important; }
    .todo-checklist--checked .todo-checklist__priority,
    .todo-checklist--checked .todo-checklist__content,
    .todo-checklist--checked .todo-checklist__checkbox {
      background: inherit;
      color: rgba(0, 0, 0, 0.26); }
    .todo-checklist--checked .todo-checklist__content {
      text-decoration: line-through; }
    .todo-checklist--checked .todo-checklist__checkbox > button {
      color: #7ED960; }
  .todo-checklist--list .todo-checklist__list:after {
    margin-left: 16px; }

.statusbar-overlay {
  transition: background-color 0.3s ease; }

.theme-daily .statusbar-overlay {
  background-color: #3D5AFE; }

.theme-daily .todo-checklist__content {
  color: #3D5AFE; }

.theme-daily .todo-checklist--state-A .todo-checklist__priority {
  background: #FFC107; }

.theme-daily .todo-checklist--state-B .todo-checklist__priority {
  background: #ffd454; }

.theme-daily .todo-checklist--state-C .todo-checklist__priority {
  background: #ffe7a0; }

.theme-daily .todo-checklist--state-D .todo-checklist__priority {
  background: #fffaed; }

.theme-red .statusbar-overlay {
  background-color: #00E676; }

.theme-red .todo-checklist__content {
  color: #00E676; }

.theme-red .todo-checklist--state-A .todo-checklist__priority {
  background: #ff3b30; }

.theme-red .todo-checklist--state-B .todo-checklist__priority {
  background: #ff837d; }

.theme-red .todo-checklist--state-C .todo-checklist__priority {
  background: #ffccc9; }

.theme-red .todo-checklist--state-D .todo-checklist__priority {
  background: white; }

.theme-blue .statusbar-overlay {
  background-color: #FF9100; }

.theme-blue .todo-checklist__content {
  color: #FF9100; }

.theme-blue .todo-checklist--state-A .todo-checklist__priority {
  background: #007aff; }

.theme-blue .todo-checklist--state-B .todo-checklist__priority {
  background: #4da2ff; }

.theme-blue .todo-checklist--state-C .todo-checklist__priority {
  background: #99caff; }

.theme-blue .todo-checklist--state-D .todo-checklist__priority {
  background: #e6f2ff; }

.theme-green .statusbar-overlay {
  background-color: #FF1744; }

.theme-green .todo-checklist__content {
  color: #FF1744; }

.theme-green .todo-checklist--state-A .todo-checklist__priority {
  background: #4cd964; }

.theme-green .todo-checklist--state-B .todo-checklist__priority {
  background: #8be69b; }

.theme-green .todo-checklist--state-C .todo-checklist__priority {
  background: #caf4d1; }

.theme-green .todo-checklist--state-D .todo-checklist__priority {
  background: white; }

.theme-pink .statusbar-overlay {
  background-color: #00C853; }

.theme-pink .todo-checklist__content {
  color: #00C853; }

.theme-pink .todo-checklist--state-A .todo-checklist__priority {
  background: #ff2d55; }

.theme-pink .todo-checklist--state-B .todo-checklist__priority {
  background: #ff7a93; }

.theme-pink .todo-checklist--state-C .todo-checklist__priority {
  background: #ffc6d1; }

.theme-pink .todo-checklist--state-D .todo-checklist__priority {
  background: white; }

.theme-orange .statusbar-overlay {
  background-color: #00BFA5; }

.theme-orange .todo-checklist__content {
  color: #00BFA5; }

.theme-orange .todo-checklist--state-A .todo-checklist__priority {
  background: #ff9500; }

.theme-orange .todo-checklist--state-B .todo-checklist__priority {
  background: #ffb54d; }

.theme-orange .todo-checklist--state-C .todo-checklist__priority {
  background: #ffd599; }

.theme-orange .todo-checklist--state-D .todo-checklist__priority {
  background: #fff4e6; }

.theme-red .todo-checklist--state-A .todo-checklist__priority,
.theme-red .todo-checklist--state-B .todo-checklist__priority,
.theme-blue .todo-checklist--state-A .todo-checklist__priority,
.theme-blue .todo-checklist--state-B .todo-checklist__priority,
.theme-pink .todo-checklist--state-A .todo-checklist__priority,
.theme-pink .todo-checklist--state-B .todo-checklist__priority,
.theme-orange .todo-checklist--state-A .todo-checklist__priority {
  color: rgba(255, 255, 255, 0.7); }

.theme-daily .todo-checklist--checked .todo-checklist__priority,
.theme-daily .todo-checklist--checked .todo-checklist__content,
.theme-daily .todo-checklist--checked .todo-checklist__checkbox,
.theme-red .todo-checklist--checked .todo-checklist__priority,
.theme-red .todo-checklist--checked .todo-checklist__content,
.theme-red .todo-checklist--checked .todo-checklist__checkbox,
.theme-blue .todo-checklist--checked .todo-checklist__priority,
.theme-blue .todo-checklist--checked .todo-checklist__content,
.theme-blue .todo-checklist--checked .todo-checklist__checkbox,
.theme-green .todo-checklist--checked .todo-checklist__priority,
.theme-green .todo-checklist--checked .todo-checklist__content,
.theme-green .todo-checklist--checked .todo-checklist__checkbox,
.theme-pink .todo-checklist--checked .todo-checklist__priority,
.theme-pink .todo-checklist--checked .todo-checklist__content,
.theme-pink .todo-checklist--checked .todo-checklist__checkbox,
.theme-orange .todo-checklist--checked .todo-checklist__priority,
.theme-orange .todo-checklist--checked .todo-checklist__content,
.theme-orange .todo-checklist--checked .todo-checklist__checkbox {
  color: rgba(0, 0, 0, 0.26); }

.color-daily {
  color: #FFC107; }

.list-block .item-link.list-button.color-daily,
.tabbar a.active.color-daily,
a.color-daily {
  color: #FFC107; }

.label-switch input[type="checkbox"]:checked + .checkbox.color-daily,
.label-switch.color-daily input[type="checkbox"]:checked + .checkbox {
  background-color: #FFC107; }

.color-daily.button:not(.button-fill),
.color-daily.buttons-row .button,
.theme-daily .button:not(.button-fill) {
  border-color: #FFC107; }

html:not(.watch-active-state) .color-daily.button:not(.button-fill):active,
html:not(.watch-active-state) .color-daily.buttons-row .button:active,
html:not(.watch-active-state) .theme-daily .button:not(.button-fill):active,
.color-daily.button:not(.button-fill).active-state,
.color-daily.buttons-row .button.active-state,
.theme-daily .button:not(.button-fill).active-state {
  background-color: rgba(255, 204, 0, 0.15); }

.color-daily.button:not(.button-fill).active,
.color-daily.buttons-row .button.active,
.theme-daily .button:not(.button-fill).active {
  background-color: #FFC107;
  color: rgba(0, 0, 0, 0.54); }

.theme-daily .button.button-fill,
.button.button-fill.color-daily {
  background: #FFC107;
  color: rgba(0, 0, 0, 0.54); }

.progressbar.color-daily span,
.progressbar.theme-daily span,
.theme-daily .progressbar span,
.progressbar.bg-daily span {
  background-color: #FFC107; }

.progressbar-infinite.color-daily:before,
.progressbar-infinite.theme-daily:before,
.theme-daily .progressbar-infinite:before,
.progressbar-infinite.bg-daily:before {
  background-color: #FFC107; }

.color-daily i.icon,
.theme-daily i.icon,
i.icon.color-daily,
i.icon.theme-daily {
  color: #FFC107; }

i.icon-next.color-daily,
i.icon-next.theme-daily,
.theme-daily i.icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

i.icon-prev.color-daily,
i.icon-prev.theme-daily,
.theme-daily i.icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

i.icon-back.color-daily,
i.icon-back.theme-daily,
.theme-daily i.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E"); }

i.icon-forward.color-daily,
i.icon-forward.theme-daily,
.theme-daily i.icon-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E"); }

i.icon-bars.color-daily,
i.icon-bars.theme-daily,
.theme-daily i.icon-bars {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E"); }

@media (-webkit-min-device-pixel-ratio: 2) {
  i.icon-bars.color-daily,
  i.icon-bars.theme-daily,
  .theme-daily i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E"); } }

.theme-daily a,
.theme-daily .item-link.list-button {
  color: #FFC107; }

.theme-daily .tabbar a,
.tabbar.theme-daily a,
.theme-daily .tabbar a i,
.tabbar.theme-daily a i {
  color: inherit; }

.theme-daily .tabbar a.active,
.tabbar.theme-daily a.active,
.theme-daily .tabbar a.active i,
.tabbar.theme-daily a.active i {
  color: #FFC107; }

.theme-daily .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-daily input[type="range"]::-webkit-slider-thumb:before {
  background-color: #FFC107; }

.theme-daily .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-daily input[type="range"]::-ms-fill-lower {
  background-color: #FFC107; }

.theme-daily label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-daily label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  background-color: #FFC107; }

.theme-daily label.label-radio input[type="checkbox"]:checked ~ .item-inner,
.theme-daily label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23ffcc00'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E"); }

.theme-daily .picker-calendar-day.picker-calendar-day-selected span {
  background-color: #FFC107 !important; }

.swiper-pagination.color-daily .swiper-pagination-bullet-active,
.theme-daily .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FFC107; }

.swiper-button-next.color-daily,
.swiper-container-rtl .swiper-button-prev.color-daily,
.theme-daily .swiper-button-next,
.theme-daily .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.color-daily,
.swiper-container-rtl .swiper-button-next.color-daily,
.theme-daily .swiper-button-prev,
.theme-daily .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E"); }

.bg-daily,
.button.button-fill.bg-daily,
a.bg-daily,
.list-block .swipeout-actions-left a.bg-daily,
.list-block .swipeout-actions-right a.bg-daily {
  background-color: #FFC107; }

.border-daily {
  border-color: #FFC107; }

.list-block .border-daily.item-inner:after,
.list-block ul.border-daily:after,
.border-daily:after,
.list-block .border-daily.item-inner:before,
.list-block ul.border-daily:before,
.border-daily:before {
  background-color: #FFC107; }

.badge.color-daily,
.badge.theme-daily {
  background-color: #FFC107;
  color: rgba(0, 0, 0, 0.54); }

.link.icon-only {
  font-size: 24px; }

.btn-add-day i.daily-icon {
  font-size: 30px; }

.todo-checklist__priority i.daily-icon {
  font-size: 32px; }

.todo-checklist--checked i.daily-app-circle:before {
  content: "\e902"; }

.tabbar i.icon {
  font-size: 30px;
  height: 40px !important; }

.tabbar.tabbar-labels i.icon {
  font-size: 28px;
  line-height: 1.1; }

.tabbar.tabbar-labels i.daily-icon {
  font-size: 30px;
  line-height: 32px; }

.tabbar a.tab-link.active .daily-app-check-outline:before {
  content: "\e901"; }

.tabbar a.tab-link.active .daily-app-daily-outline:before {
  content: "\e906"; }

.tabbar a.tab-link.active .ion-ios-home-outline:before {
  content: "\f448"; }

.tabbar a.tab-link.active .ion-ios-filing-outline:before {
  content: "\f429"; }

.tabbar a.tab-link.active .ion-ios-checkmark-outline:before {
  content: "\f3ff"; }

.tabbar a.tab-link.active .ion-ios-compose-outline:before {
  content: "\f418"; }

.tabbar a.tab-link.active .ion-ios-gear-outline:before {
  content: "\f43d"; }

i.icon.icon-form-location {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_location.svg"); }

i.icon.icon-form-statistics {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_statistics.svg"); }

i.icon.icon-form-theme {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_theme.svg"); }

i.icon.icon-form-info {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_info.svg"); }
