/*! @license
*
* Buttons
* Copyright 2012-2014 Alex Wolfe and Rob Levin
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*        http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/*
* Compass (optional)
*
* We recommend the use of autoprefixer instead of Compass
* when using buttons. However, buttons does support Compass.
* simply change $ubtn-use-compass to true and uncomment the
* @import 'compass' code below to use Compass.
*/
/*
* Required Files
*
* These files include the variables and options
* and base css styles that are required to generate buttons.
*/
/*
* $ubtn prefix (reserved)
*
* This prefix stands for Unicorn Button - ubtn
* We provide a prefix to the Sass Variables to
* prevent namespace collisions that could occur if
* you import buttons as part of your Sass build process.
* We kindly ask you not to use the prefix $ubtn in your project
* in order to avoid possilbe name conflicts. Thanks!
*/
/*
* Button Namespace (ex .button or .btn)
*
*/
/*
* Button Defaults
*
* Some default settings that are used throughout the button library.
* Changes to these settings will be picked up by all of the other modules.
* The colors used here are the default colors for the base button (gray).
* The font size and height are used to set the base size for the buttons.
* The size values will be used to calculate the larger and smaller button sizes.
*/
/*
* Button Colors
*
* $ubtn-colors is used to generate the different button colors.
* Edit or add colors to the list below and recompile.
* Each block contains the (name, background, color)
* The class is generated using the name: (ex .button-primary)
*/
/*
* Button Shapes
*
* $ubtn-shapes is used to generate the different button shapes.
* Edit or add shapes to the list below and recompile.
* Each block contains the (name, border-radius).
* The class is generated using the name: (ex .button-square).
*/
/*
* Button Sizes
*
* $ubtn-sizes is used to generate the different button sizes.
* Edit or add colors to the list below and recompile.
* Each block contains the (name, size multiplier).
* The class is generated using the name: (ex .button-giant).
*/
/*
* Color Mixin
*
* Iterates through the list of colors and creates
*
*/
/*
* No Animation
*
* Sets animation property to none
*/
/*
* Clearfix
*
* Clears floats inside the container
*/
/*
* Base Button Style
*
* The default values for the .button class
*/
.to-btn {
  color: #444;
  background-color: #EEE;
  border-color: #EEE;
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s;
  /*
  * Disabled State
  *
  * The disabled state uses the class .disabled, is-disabled,
  * and the form attribute disabled="disabled".
  * The use of !important is only added because this is a state
  * that must be applied to all buttons when in a disabled state.
  */ }
  .to-btn:visited {
    color: #444; }
  .to-btn:hover, .to-btn:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none; }
  .to-btn:active, .to-btn.active, .to-btn.is-active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d5d5d5;
    transition-duration: 0s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }
  .to-btn.disabled, .to-btn.is-disabled, .to-btn:disabled {
    top: 0 !important;
    background: #EEE !important;
    border: 1px solid #DDD !important;
    text-shadow: 0 1px 1px white !important;
    color: #CCC !important;
    cursor: default !important;
    appearance: none !important;
    box-shadow: none !important;
    opacity: .8 !important; }

/*
* Base Button Tyography
*
*/
.to-btn-uppercase {
  text-transform: uppercase; }

.to-btn-lowercase {
  text-transform: lowercase; }

.to-btn-capitalize {
  text-transform: capitalize; }

.to-btn-small-caps {
  font-variant: small-caps; }

.to-btn-icon-txt-large {
  font-size: 36px !important; }

/*
* Base padding
*
*/
.to-btn-width-small {
  padding: 0 10px !important; }

/*
* Base Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.to-btn-primary,
.to-btn-primary-flat {
  background-color: #448aff;
  border-color: #448aff;
  color: #FFF; }
  .to-btn-primary:visited,
  .to-btn-primary-flat:visited {
    color: #FFF; }
  .to-btn-primary:hover, .to-btn-primary:focus,
  .to-btn-primary-flat:hover,
  .to-btn-primary-flat:focus {
    background-color: #77aaff;
    border-color: #77aaff;
    color: #FFF; }
  .to-btn-primary:active, .to-btn-primary.active, .to-btn-primary.is-active,
  .to-btn-primary-flat:active,
  .to-btn-primary-flat.active,
  .to-btn-primary-flat.is-active {
    background-color: #4d8cf6;
    border-color: #4d8cf6;
    color: #116aff; }

.to-btn-plain,
.to-btn-plain-flat {
  background-color: #FFF;
  border-color: #FFF;
  color: #1B9AF7; }
  .to-btn-plain:visited,
  .to-btn-plain-flat:visited {
    color: #1B9AF7; }
  .to-btn-plain:hover, .to-btn-plain:focus,
  .to-btn-plain-flat:hover,
  .to-btn-plain-flat:focus {
    background-color: white;
    border-color: white;
    color: #1B9AF7; }
  .to-btn-plain:active, .to-btn-plain.active, .to-btn-plain.is-active,
  .to-btn-plain-flat:active,
  .to-btn-plain-flat.active,
  .to-btn-plain-flat.is-active {
    background-color: white;
    border-color: white;
    color: #e6e6e6; }

.to-btn-inverse,
.to-btn-inverse-flat {
  background-color: #222;
  border-color: #222;
  color: #EEE; }
  .to-btn-inverse:visited,
  .to-btn-inverse-flat:visited {
    color: #EEE; }
  .to-btn-inverse:hover, .to-btn-inverse:focus,
  .to-btn-inverse-flat:hover,
  .to-btn-inverse-flat:focus {
    background-color: #3c3c3c;
    border-color: #3c3c3c;
    color: #EEE; }
  .to-btn-inverse:active, .to-btn-inverse.active, .to-btn-inverse.is-active,
  .to-btn-inverse-flat:active,
  .to-btn-inverse-flat.active,
  .to-btn-inverse-flat.is-active {
    background-color: #222222;
    border-color: #222222;
    color: #090909; }

.to-btn-action,
.to-btn-action-flat {
  background-color: #A5DE37;
  border-color: #A5DE37;
  color: #FFF; }
  .to-btn-action:visited,
  .to-btn-action-flat:visited {
    color: #FFF; }
  .to-btn-action:hover, .to-btn-action:focus,
  .to-btn-action-flat:hover,
  .to-btn-action-flat:focus {
    background-color: #b9e563;
    border-color: #b9e563;
    color: #FFF; }
  .to-btn-action:active, .to-btn-action.active, .to-btn-action.is-active,
  .to-btn-action-flat:active,
  .to-btn-action-flat.active,
  .to-btn-action-flat.is-active {
    background-color: #a1d243;
    border-color: #a1d243;
    color: #8bc220; }

.to-btn-highlight,
.to-btn-highlight-flat {
  background-color: #FEAE1B;
  border-color: #FEAE1B;
  color: #FFF; }
  .to-btn-highlight:visited,
  .to-btn-highlight-flat:visited {
    color: #FFF; }
  .to-btn-highlight:hover, .to-btn-highlight:focus,
  .to-btn-highlight-flat:hover,
  .to-btn-highlight-flat:focus {
    background-color: #fec04e;
    border-color: #fec04e;
    color: #FFF; }
  .to-btn-highlight:active, .to-btn-highlight.active, .to-btn-highlight.is-active,
  .to-btn-highlight-flat:active,
  .to-btn-highlight-flat.active,
  .to-btn-highlight-flat.is-active {
    background-color: #f3ab26;
    border-color: #f3ab26;
    color: #e59501; }

.to-btn-caution,
.to-btn-caution-flat {
  background-color: #FF4351;
  border-color: #FF4351;
  color: #FFF; }
  .to-btn-caution:visited,
  .to-btn-caution-flat:visited {
    color: #FFF; }
  .to-btn-caution:hover, .to-btn-caution:focus,
  .to-btn-caution-flat:hover,
  .to-btn-caution-flat:focus {
    background-color: #ff7680;
    border-color: #ff7680;
    color: #FFF; }
  .to-btn-caution:active, .to-btn-caution.active, .to-btn-caution.is-active,
  .to-btn-caution-flat:active,
  .to-btn-caution-flat.active,
  .to-btn-caution-flat.is-active {
    background-color: #f64c59;
    border-color: #f64c59;
    color: #ff1022; }

.to-btn-royal,
.to-btn-royal-flat {
  background-color: #7B72E9;
  border-color: #7B72E9;
  color: #FFF; }
  .to-btn-royal:visited,
  .to-btn-royal-flat:visited {
    color: #FFF; }
  .to-btn-royal:hover, .to-btn-royal:focus,
  .to-btn-royal-flat:hover,
  .to-btn-royal-flat:focus {
    background-color: #a49ef0;
    border-color: #a49ef0;
    color: #FFF; }
  .to-btn-royal:active, .to-btn-royal.active, .to-btn-royal.is-active,
  .to-btn-royal-flat:active,
  .to-btn-royal-flat.active,
  .to-btn-royal-flat.is-active {
    background-color: #827ae1;
    border-color: #827ae1;
    color: #5246e2; }

/*
* Base Layout Styles
*
* Very Miminal Layout Styles
*/
.to-btn-block,
.to-btn-stacked {
  display: block; }

/*
* Button Types (optional)
*
* All of the files below represent the various button
* types (including shapes & sizes). None of these files
* are required. Simple remove the uneeded type below and
* the button type will be excluded from the final build
*/
/*
* Button Shapes
*
* This file creates the various button shapes
* (ex. Circle, Rounded, Pill)
*/
.to-btn-square {
  border-radius: 0; }

.to-btn-box {
  border-radius: 10px; }

.to-btn-rounded {
  border-radius: 2px; }

.to-btn-pill {
  border-radius: 200px; }

.to-btn-circle {
  border-radius: 100%; }

/*
* Size Adjustment for equal height & widht buttons
*
* Remove padding and set a fixed width.
*/
.to-btn-circle,
.to-btn-box,
.to-btn-square {
  padding: 0 !important;
  width: 40px; }
  .to-btn-circle.to-btn-giant,
  .to-btn-box.to-btn-giant,
  .to-btn-square.to-btn-giant {
    width: 70px; }
  .to-btn-circle.to-btn-jumbo,
  .to-btn-box.to-btn-jumbo,
  .to-btn-square.to-btn-jumbo {
    width: 60px; }
  .to-btn-circle.to-btn-large,
  .to-btn-box.to-btn-large,
  .to-btn-square.to-btn-large {
    width: 50px; }
  .to-btn-circle.to-btn-normal,
  .to-btn-box.to-btn-normal,
  .to-btn-square.to-btn-normal {
    width: 40px; }
  .to-btn-circle.to-btn-small,
  .to-btn-box.to-btn-small,
  .to-btn-square.to-btn-small {
    width: 30px; }
  .to-btn-circle.to-btn-tiny,
  .to-btn-box.to-btn-tiny,
  .to-btn-square.to-btn-tiny {
    width: 24px; }

/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
.to-btn-border, .to-btn-border-thin, .to-btn-border-thick {
  background: none;
  border-width: 1px;
  border-style: solid;
  line-height: 36px; }
  .to-btn-border:hover, .to-btn-border-thin:hover, .to-btn-border-thick:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .to-btn-border:active, .to-btn-border-thin:active, .to-btn-border-thick:active, .to-btn-border.active, .active.to-btn-border-thin, .active.to-btn-border-thick, .to-btn-border.is-active, .is-active.to-btn-border-thin, .is-active.to-btn-border-thick {
    box-shadow: none;
    text-shadow: none;
    transition-property: all;
    transition-duration: .3s; }

/*
* Border Optional Sizes
*
* A slight variation in border thickness
*/
.to-btn-border-thin {
  border-width: 1px; }

.to-btn-border-thick {
  border-width: 3px; }

/*
* Border Button Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.to-btn-border, .to-btn-border-thin, .to-btn-border-thick,
.to-btn-border-thin,
.to-btn-border-thick {
  /*
  * Border Button Size Adjustment
  *
  * The line-height must be adjusted to compinsate for
  * the width of the border.
  */ }
  .to-btn-border.to-btn-primary, .to-btn-primary.to-btn-border-thin, .to-btn-primary.to-btn-border-thick,
  .to-btn-border-thin.to-btn-primary,
  .to-btn-border-thick.to-btn-primary {
    color: #448aff; }
    .to-btn-border.to-btn-primary:hover, .to-btn-primary.to-btn-border-thin:hover, .to-btn-primary.to-btn-border-thick:hover, .to-btn-border.to-btn-primary:focus, .to-btn-primary.to-btn-border-thin:focus, .to-btn-primary.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-primary:hover,
    .to-btn-border-thin.to-btn-primary:focus,
    .to-btn-border-thick.to-btn-primary:hover,
    .to-btn-border-thick.to-btn-primary:focus {
      background-color: rgba(119, 170, 255, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .to-btn-border.to-btn-primary:active, .to-btn-primary.to-btn-border-thin:active, .to-btn-primary.to-btn-border-thick:active, .to-btn-border.to-btn-primary.active, .to-btn-primary.active.to-btn-border-thin, .to-btn-primary.active.to-btn-border-thick, .to-btn-border.to-btn-primary.is-active, .to-btn-primary.is-active.to-btn-border-thin, .to-btn-primary.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-primary:active,
    .to-btn-border-thin.to-btn-primary.active,
    .to-btn-border-thin.to-btn-primary.is-active,
    .to-btn-border-thick.to-btn-primary:active,
    .to-btn-border-thick.to-btn-primary.active,
    .to-btn-border-thick.to-btn-primary.is-active {
      background-color: rgba(77, 140, 246, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-plain, .to-btn-plain.to-btn-border-thin, .to-btn-plain.to-btn-border-thick,
  .to-btn-border-thin.to-btn-plain,
  .to-btn-border-thick.to-btn-plain {
    color: #FFF; }
    .to-btn-border.to-btn-plain:hover, .to-btn-plain.to-btn-border-thin:hover, .to-btn-plain.to-btn-border-thick:hover, .to-btn-border.to-btn-plain:focus, .to-btn-plain.to-btn-border-thin:focus, .to-btn-plain.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-plain:hover,
    .to-btn-border-thin.to-btn-plain:focus,
    .to-btn-border-thick.to-btn-plain:hover,
    .to-btn-border-thick.to-btn-plain:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: rgba(27, 154, 247, 0.9); }
    .to-btn-border.to-btn-plain:active, .to-btn-plain.to-btn-border-thin:active, .to-btn-plain.to-btn-border-thick:active, .to-btn-border.to-btn-plain.active, .to-btn-plain.active.to-btn-border-thin, .to-btn-plain.active.to-btn-border-thick, .to-btn-border.to-btn-plain.is-active, .to-btn-plain.is-active.to-btn-border-thin, .to-btn-plain.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-plain:active,
    .to-btn-border-thin.to-btn-plain.active,
    .to-btn-border-thin.to-btn-plain.is-active,
    .to-btn-border-thick.to-btn-plain:active,
    .to-btn-border-thick.to-btn-plain.active,
    .to-btn-border-thick.to-btn-plain.is-active {
      background-color: rgba(255, 255, 255, 0.7);
      color: rgba(27, 154, 247, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-inverse, .to-btn-inverse.to-btn-border-thin, .to-btn-inverse.to-btn-border-thick,
  .to-btn-border-thin.to-btn-inverse,
  .to-btn-border-thick.to-btn-inverse {
    color: #222; }
    .to-btn-border.to-btn-inverse:hover, .to-btn-inverse.to-btn-border-thin:hover, .to-btn-inverse.to-btn-border-thick:hover, .to-btn-border.to-btn-inverse:focus, .to-btn-inverse.to-btn-border-thin:focus, .to-btn-inverse.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-inverse:hover,
    .to-btn-border-thin.to-btn-inverse:focus,
    .to-btn-border-thick.to-btn-inverse:hover,
    .to-btn-border-thick.to-btn-inverse:focus {
      background-color: rgba(60, 60, 60, 0.9);
      color: rgba(238, 238, 238, 0.9); }
    .to-btn-border.to-btn-inverse:active, .to-btn-inverse.to-btn-border-thin:active, .to-btn-inverse.to-btn-border-thick:active, .to-btn-border.to-btn-inverse.active, .to-btn-inverse.active.to-btn-border-thin, .to-btn-inverse.active.to-btn-border-thick, .to-btn-border.to-btn-inverse.is-active, .to-btn-inverse.is-active.to-btn-border-thin, .to-btn-inverse.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-inverse:active,
    .to-btn-border-thin.to-btn-inverse.active,
    .to-btn-border-thin.to-btn-inverse.is-active,
    .to-btn-border-thick.to-btn-inverse:active,
    .to-btn-border-thick.to-btn-inverse.active,
    .to-btn-border-thick.to-btn-inverse.is-active {
      background-color: rgba(34, 34, 34, 0.7);
      color: rgba(238, 238, 238, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-action, .to-btn-action.to-btn-border-thin, .to-btn-action.to-btn-border-thick,
  .to-btn-border-thin.to-btn-action,
  .to-btn-border-thick.to-btn-action {
    color: #A5DE37; }
    .to-btn-border.to-btn-action:hover, .to-btn-action.to-btn-border-thin:hover, .to-btn-action.to-btn-border-thick:hover, .to-btn-border.to-btn-action:focus, .to-btn-action.to-btn-border-thin:focus, .to-btn-action.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-action:hover,
    .to-btn-border-thin.to-btn-action:focus,
    .to-btn-border-thick.to-btn-action:hover,
    .to-btn-border-thick.to-btn-action:focus {
      background-color: rgba(185, 229, 99, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .to-btn-border.to-btn-action:active, .to-btn-action.to-btn-border-thin:active, .to-btn-action.to-btn-border-thick:active, .to-btn-border.to-btn-action.active, .to-btn-action.active.to-btn-border-thin, .to-btn-action.active.to-btn-border-thick, .to-btn-border.to-btn-action.is-active, .to-btn-action.is-active.to-btn-border-thin, .to-btn-action.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-action:active,
    .to-btn-border-thin.to-btn-action.active,
    .to-btn-border-thin.to-btn-action.is-active,
    .to-btn-border-thick.to-btn-action:active,
    .to-btn-border-thick.to-btn-action.active,
    .to-btn-border-thick.to-btn-action.is-active {
      background-color: rgba(161, 210, 67, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-highlight, .to-btn-highlight.to-btn-border-thin, .to-btn-highlight.to-btn-border-thick,
  .to-btn-border-thin.to-btn-highlight,
  .to-btn-border-thick.to-btn-highlight {
    color: #FEAE1B; }
    .to-btn-border.to-btn-highlight:hover, .to-btn-highlight.to-btn-border-thin:hover, .to-btn-highlight.to-btn-border-thick:hover, .to-btn-border.to-btn-highlight:focus, .to-btn-highlight.to-btn-border-thin:focus, .to-btn-highlight.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-highlight:hover,
    .to-btn-border-thin.to-btn-highlight:focus,
    .to-btn-border-thick.to-btn-highlight:hover,
    .to-btn-border-thick.to-btn-highlight:focus {
      background-color: rgba(254, 192, 78, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .to-btn-border.to-btn-highlight:active, .to-btn-highlight.to-btn-border-thin:active, .to-btn-highlight.to-btn-border-thick:active, .to-btn-border.to-btn-highlight.active, .to-btn-highlight.active.to-btn-border-thin, .to-btn-highlight.active.to-btn-border-thick, .to-btn-border.to-btn-highlight.is-active, .to-btn-highlight.is-active.to-btn-border-thin, .to-btn-highlight.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-highlight:active,
    .to-btn-border-thin.to-btn-highlight.active,
    .to-btn-border-thin.to-btn-highlight.is-active,
    .to-btn-border-thick.to-btn-highlight:active,
    .to-btn-border-thick.to-btn-highlight.active,
    .to-btn-border-thick.to-btn-highlight.is-active {
      background-color: rgba(243, 171, 38, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-caution, .to-btn-caution.to-btn-border-thin, .to-btn-caution.to-btn-border-thick,
  .to-btn-border-thin.to-btn-caution,
  .to-btn-border-thick.to-btn-caution {
    color: #FF4351; }
    .to-btn-border.to-btn-caution:hover, .to-btn-caution.to-btn-border-thin:hover, .to-btn-caution.to-btn-border-thick:hover, .to-btn-border.to-btn-caution:focus, .to-btn-caution.to-btn-border-thin:focus, .to-btn-caution.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-caution:hover,
    .to-btn-border-thin.to-btn-caution:focus,
    .to-btn-border-thick.to-btn-caution:hover,
    .to-btn-border-thick.to-btn-caution:focus {
      background-color: rgba(255, 118, 128, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .to-btn-border.to-btn-caution:active, .to-btn-caution.to-btn-border-thin:active, .to-btn-caution.to-btn-border-thick:active, .to-btn-border.to-btn-caution.active, .to-btn-caution.active.to-btn-border-thin, .to-btn-caution.active.to-btn-border-thick, .to-btn-border.to-btn-caution.is-active, .to-btn-caution.is-active.to-btn-border-thin, .to-btn-caution.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-caution:active,
    .to-btn-border-thin.to-btn-caution.active,
    .to-btn-border-thin.to-btn-caution.is-active,
    .to-btn-border-thick.to-btn-caution:active,
    .to-btn-border-thick.to-btn-caution.active,
    .to-btn-border-thick.to-btn-caution.is-active {
      background-color: rgba(246, 76, 89, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-royal, .to-btn-royal.to-btn-border-thin, .to-btn-royal.to-btn-border-thick,
  .to-btn-border-thin.to-btn-royal,
  .to-btn-border-thick.to-btn-royal {
    color: #7B72E9; }
    .to-btn-border.to-btn-royal:hover, .to-btn-royal.to-btn-border-thin:hover, .to-btn-royal.to-btn-border-thick:hover, .to-btn-border.to-btn-royal:focus, .to-btn-royal.to-btn-border-thin:focus, .to-btn-royal.to-btn-border-thick:focus,
    .to-btn-border-thin.to-btn-royal:hover,
    .to-btn-border-thin.to-btn-royal:focus,
    .to-btn-border-thick.to-btn-royal:hover,
    .to-btn-border-thick.to-btn-royal:focus {
      background-color: rgba(164, 158, 240, 0.9);
      color: rgba(255, 255, 255, 0.9); }
    .to-btn-border.to-btn-royal:active, .to-btn-royal.to-btn-border-thin:active, .to-btn-royal.to-btn-border-thick:active, .to-btn-border.to-btn-royal.active, .to-btn-royal.active.to-btn-border-thin, .to-btn-royal.active.to-btn-border-thick, .to-btn-border.to-btn-royal.is-active, .to-btn-royal.is-active.to-btn-border-thin, .to-btn-royal.is-active.to-btn-border-thick,
    .to-btn-border-thin.to-btn-royal:active,
    .to-btn-border-thin.to-btn-royal.active,
    .to-btn-border-thin.to-btn-royal.is-active,
    .to-btn-border-thick.to-btn-royal:active,
    .to-btn-border-thick.to-btn-royal.active,
    .to-btn-border-thick.to-btn-royal.is-active {
      background-color: rgba(130, 122, 225, 0.7);
      color: rgba(255, 255, 255, 0.5);
      opacity: .3; }
  .to-btn-border.to-btn-giant, .to-btn-giant.to-btn-border-thin, .to-btn-giant.to-btn-border-thick,
  .to-btn-border-thin.to-btn-giant,
  .to-btn-border-thick.to-btn-giant {
    line-height: 66px; }
  .to-btn-border.to-btn-jumbo, .to-btn-jumbo.to-btn-border-thin, .to-btn-jumbo.to-btn-border-thick,
  .to-btn-border-thin.to-btn-jumbo,
  .to-btn-border-thick.to-btn-jumbo {
    line-height: 56px; }
  .to-btn-border.to-btn-large, .to-btn-large.to-btn-border-thin, .to-btn-large.to-btn-border-thick,
  .to-btn-border-thin.to-btn-large,
  .to-btn-border-thick.to-btn-large {
    line-height: 46px; }
  .to-btn-border.to-btn-normal, .to-btn-normal.to-btn-border-thin, .to-btn-normal.to-btn-border-thick,
  .to-btn-border-thin.to-btn-normal,
  .to-btn-border-thick.to-btn-normal {
    line-height: 36px; }
  .to-btn-border.to-btn-small, .to-btn-small.to-btn-border-thin, .to-btn-small.to-btn-border-thick,
  .to-btn-border-thin.to-btn-small,
  .to-btn-border-thick.to-btn-small {
    line-height: 26px; }
  .to-btn-border.to-btn-tiny, .to-btn-tiny.to-btn-border-thin, .to-btn-tiny.to-btn-border-thick,
  .to-btn-border-thin.to-btn-tiny,
  .to-btn-border-thick.to-btn-tiny {
    line-height: 20px; }

/*
* Border Buttons
*
* These buttons have no fill they only have a
* border to define their hit target.
*/
.to-btn-borderless {
  background: none;
  border: none;
  padding: 0 8px !important;
  color: #EEE;
  font-size: 20.8px;
  font-weight: 200;
  /*
  * Borderless Button Colors
  *
  * Create colors for buttons
  * (.button-primary, .button-secondary, etc.)
  */
  /*
  * Borderles Size Adjustment
  *
  * The font-size must be large to compinsate for
  * the lack of a hit target.
  */ }
  .to-btn-borderless:hover, .to-btn-borderless:focus {
    background: none; }
  .to-btn-borderless:active, .to-btn-borderless.active, .to-btn-borderless.is-active {
    box-shadow: none;
    text-shadow: none;
    transition-property: all;
    transition-duration: .3s;
    opacity: .3; }
  .to-btn-borderless.to-btn-primary {
    color: #448aff; }
  .to-btn-borderless.to-btn-plain {
    color: #FFF; }
  .to-btn-borderless.to-btn-inverse {
    color: #222; }
  .to-btn-borderless.to-btn-action {
    color: #A5DE37; }
  .to-btn-borderless.to-btn-highlight {
    color: #FEAE1B; }
  .to-btn-borderless.to-btn-caution {
    color: #FF4351; }
  .to-btn-borderless.to-btn-royal {
    color: #7B72E9; }
  .to-btn-borderless.to-btn-giant {
    font-size: 36.4px;
    height: 52.4px;
    line-height: 52.4px; }
  .to-btn-borderless.to-btn-jumbo {
    font-size: 31.2px;
    height: 47.2px;
    line-height: 47.2px; }
  .to-btn-borderless.to-btn-large {
    font-size: 26px;
    height: 42px;
    line-height: 42px; }
  .to-btn-borderless.to-btn-normal {
    font-size: 20.8px;
    height: 36.8px;
    line-height: 36.8px; }
  .to-btn-borderless.to-btn-small {
    font-size: 15.6px;
    height: 31.6px;
    line-height: 31.6px; }
  .to-btn-borderless.to-btn-tiny {
    font-size: 12.48px;
    height: 28.48px;
    line-height: 28.48px; }

/*
* Raised Buttons
*
* A classic looking button that offers
* great depth and affordance.
*/
.to-btn-raised {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  line-height: 38px;
  background: linear-gradient(#f6f6f6, #e1e1e1);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15); }
  .to-btn-raised:hover, .to-btn-raised:focus {
    background: linear-gradient(top, white, gainsboro); }
  .to-btn-raised:active, .to-btn-raised.active, .to-btn-raised.is-active {
    background: #eeeeee;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 0px white; }

/*
* Raised Button Colors
*
* Create colors for raised buttons
*/
.to-btn-raised.to-btn-primary {
  border-color: #2b7aff;
  background: linear-gradient(#5e9aff, #2b7aff); }
  .to-btn-raised.to-btn-primary:hover, .to-btn-raised.to-btn-primary:focus {
    background: linear-gradient(top, #6da4ff, #2074ff); }
  .to-btn-raised.to-btn-primary:active, .to-btn-raised.to-btn-primary.active, .to-btn-raised.to-btn-primary.is-active {
    border-color: #116aff;
    background: #4d8cf6; }

.to-btn-raised.to-btn-plain {
  border-color: #f2f2f2;
  background: linear-gradient(white, #f2f2f2); }
  .to-btn-raised.to-btn-plain:hover, .to-btn-raised.to-btn-plain:focus {
    background: linear-gradient(top, white, #ededed); }
  .to-btn-raised.to-btn-plain:active, .to-btn-raised.to-btn-plain.active, .to-btn-raised.to-btn-plain.is-active {
    border-color: #e6e6e6;
    background: white; }

.to-btn-raised.to-btn-inverse {
  border-color: #151515;
  background: linear-gradient(#2f2f2f, #151515); }
  .to-btn-raised.to-btn-inverse:hover, .to-btn-raised.to-btn-inverse:focus {
    background: linear-gradient(top, #363636, #101010); }
  .to-btn-raised.to-btn-inverse:active, .to-btn-raised.to-btn-inverse.active, .to-btn-raised.to-btn-inverse.is-active {
    border-color: #090909;
    background: #222222; }

.to-btn-raised.to-btn-action {
  border-color: #9ad824;
  background: linear-gradient(#afe24d, #9ad824); }
  .to-btn-raised.to-btn-action:hover, .to-btn-raised.to-btn-action:focus {
    background: linear-gradient(top, #b5e45a, #94cf22); }
  .to-btn-raised.to-btn-action:active, .to-btn-raised.to-btn-action.active, .to-btn-raised.to-btn-action.is-active {
    border-color: #8bc220;
    background: #a1d243; }

.to-btn-raised.to-btn-highlight {
  border-color: #fea502;
  background: linear-gradient(#feb734, #fea502); }
  .to-btn-raised.to-btn-highlight:hover, .to-btn-raised.to-btn-highlight:focus {
    background: linear-gradient(top, #febc44, #f49f01); }
  .to-btn-raised.to-btn-highlight:active, .to-btn-raised.to-btn-highlight.active, .to-btn-raised.to-btn-highlight.is-active {
    border-color: #e59501;
    background: #f3ab26; }

.to-btn-raised.to-btn-caution {
  border-color: #ff2a39;
  background: linear-gradient(#ff5d69, #ff2a39); }
  .to-btn-raised.to-btn-caution:hover, .to-btn-raised.to-btn-caution:focus {
    background: linear-gradient(top, #ff6c77, #ff1f30); }
  .to-btn-raised.to-btn-caution:active, .to-btn-raised.to-btn-caution.active, .to-btn-raised.to-btn-caution.is-active {
    border-color: #ff1022;
    background: #f64c59; }

.to-btn-raised.to-btn-royal {
  border-color: #665ce6;
  background: linear-gradient(#9088ec, #665ce6); }
  .to-btn-raised.to-btn-royal:hover, .to-btn-raised.to-btn-royal:focus {
    background: linear-gradient(top, #9c95ef, #5e53e4); }
  .to-btn-raised.to-btn-royal:active, .to-btn-raised.to-btn-royal.active, .to-btn-raised.to-btn-royal.is-active {
    border-color: #5246e2;
    background: #827ae1; }

/*
* 3D Buttons
*
* These buttons have a heavy three dimensional
* style that mimics the visual appearance of a
* real life button.
*/
.to-btn-3d {
  position: relative;
  top: 0;
  box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
  .to-btn-3d:hover, .to-btn-3d:focus {
    box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2); }
  .to-btn-3d:active, .to-btn-3d.active, .to-btn-3d.is-active {
    top: 5px;
    transition-property: all;
    transition-duration: .15s;
    box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2); }

/*
* 3D Button Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.to-btn-3d.to-btn-primary {
  box-shadow: 0 7px 0 #116aff, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-primary:hover, .to-btn-3d.to-btn-primary:focus {
    box-shadow: 0 7px 0 #0764ff, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-primary:active, .to-btn-3d.to-btn-primary.active, .to-btn-3d.to-btn-primary.is-active {
    box-shadow: 0 2px 0 #0053dd, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-plain {
  box-shadow: 0 7px 0 #e6e6e6, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-plain:hover, .to-btn-3d.to-btn-plain:focus {
    box-shadow: 0 7px 0 #e0e0e0, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-plain:active, .to-btn-3d.to-btn-plain.active, .to-btn-3d.to-btn-plain.is-active {
    box-shadow: 0 2px 0 #cccccc, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-inverse {
  box-shadow: 0 7px 0 #090909, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-inverse:hover, .to-btn-3d.to-btn-inverse:focus {
    box-shadow: 0 7px 0 #030303, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-inverse:active, .to-btn-3d.to-btn-inverse.active, .to-btn-3d.to-btn-inverse.is-active {
    box-shadow: 0 2px 0 black, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-action {
  box-shadow: 0 7px 0 #8bc220, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-action:hover, .to-btn-3d.to-btn-action:focus {
    box-shadow: 0 7px 0 #84b91f, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-action:active, .to-btn-3d.to-btn-action.active, .to-btn-3d.to-btn-action.is-active {
    box-shadow: 0 2px 0 #6b9619, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-highlight {
  box-shadow: 0 7px 0 #e59501, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-highlight:hover, .to-btn-3d.to-btn-highlight:focus {
    box-shadow: 0 7px 0 #db8e01, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-highlight:active, .to-btn-3d.to-btn-highlight.active, .to-btn-3d.to-btn-highlight.is-active {
    box-shadow: 0 2px 0 #b27401, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-caution {
  box-shadow: 0 7px 0 #ff1022, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-caution:hover, .to-btn-3d.to-btn-caution:focus {
    box-shadow: 0 7px 0 #ff0618, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-caution:active, .to-btn-3d.to-btn-caution.active, .to-btn-3d.to-btn-caution.is-active {
    box-shadow: 0 2px 0 #dc0010, 0 3px 3px rgba(0, 0, 0, 0.2); }

.to-btn-3d.to-btn-royal {
  box-shadow: 0 7px 0 #5246e2, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-royal:hover, .to-btn-3d.to-btn-royal:focus {
    box-shadow: 0 7px 0 #493de1, 0 8px 3px rgba(0, 0, 0, 0.3); }
  .to-btn-3d.to-btn-royal:active, .to-btn-3d.to-btn-royal.active, .to-btn-3d.to-btn-royal.is-active {
    box-shadow: 0 2px 0 #2f21d4, 0 3px 3px rgba(0, 0, 0, 0.2); }

/*
* Glowing Buttons
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
/*
* Glow animation mixin for Compass users
*
*/
/*
* Glowing Keyframes
*
*/
@keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(44, 154, 219, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(44, 154, 219, 0.3); } }

/*
* Glowing Keyframes for various colors
*
*/
@keyframes glowing-primary {
  from {
    box-shadow: 0 0 0 rgba(68, 138, 255, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(68, 138, 255, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(68, 138, 255, 0.3); } }

@keyframes glowing-plain {
  from {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); } }

@keyframes glowing-inverse {
  from {
    box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(34, 34, 34, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(34, 34, 34, 0.3); } }

@keyframes glowing-action {
  from {
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(165, 222, 55, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(165, 222, 55, 0.3); } }

@keyframes glowing-highlight {
  from {
    box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(254, 174, 27, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(254, 174, 27, 0.3); } }

@keyframes glowing-caution {
  from {
    box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(255, 67, 81, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(255, 67, 81, 0.3); } }

@keyframes glowing-royal {
  from {
    box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); }
  50% {
    box-shadow: 0 0 20px rgba(123, 114, 233, 0.8); }
  to {
    box-shadow: 0 0 0 rgba(123, 114, 233, 0.3); } }

/*
* Glowing Buttons Base Styes
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
.to-btn-glow {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: glowing; }
  .to-btn-glow:active, .to-btn-glow.active, .to-btn-glow.is-active {
    animation-name: none; }

/*
* Glowing Button Colors
*
* Create colors for glowing buttons
*/
.to-btn-glow.to-btn-primary {
  animation-name: glowing-primary; }

.to-btn-glow.to-btn-plain {
  animation-name: glowing-plain; }

.to-btn-glow.to-btn-inverse {
  animation-name: glowing-inverse; }

.to-btn-glow.to-btn-action {
  animation-name: glowing-action; }

.to-btn-glow.to-btn-highlight {
  animation-name: glowing-highlight; }

.to-btn-glow.to-btn-caution {
  animation-name: glowing-caution; }

.to-btn-glow.to-btn-royal {
  animation-name: glowing-royal; }

/*
* Dropdown menu buttons
*
* A dropdown menu appears
* when a button is pressed
*/
/*
* Dropdown Container
*
*/
.to-btn-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block; }

/*
* Dropdown List Style
*
*/
.to-btn-dropdown-list {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  min-width: 100%;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.95);
  border-style: solid;
  border-width: 1px;
  border-color: #d5d5d5;
  font-family: inherit;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-sizing: border-box;
  /*
  * Dropdown Below
  *
  */
  /*
  * Dropdown Above
  *
  */ }
  .to-btn-dropdown-list.is-below {
    top: 100%;
    border-top: none;
    border-radius: 0 0 3px 3px; }
  .to-btn-dropdown-list.is-above {
    bottom: 100%;
    top: auto;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.2); }

/*
* Dropdown Buttons
*
*/
.to-btn-dropdown-list > li {
  padding: 0;
  margin: 0;
  display: block; }
  .to-btn-dropdown-list > li > a {
    display: block;
    line-height: 40px;
    font-size: 12.8px;
    padding: 5px 10px;
    float: none;
    color: #444;
    text-decoration: none; }
    .to-btn-dropdown-list > li > a:hover {
      color: #3c3c3c;
      background: #f6f6f6;
      text-decoration: none; }

.to-btn-dropdown-divider {
  border-top: 1px solid #e6e6e6; }

/*
* Dropdown Colors
*
* Create colors for buttons
* (.button-primary, .button-secondary, etc.)
*/
.to-btn-dropdown.to-btn-dropdown-primary .to-btn-dropdown-list {
  background: rgba(68, 138, 255, 0.95);
  border-color: #116aff; }
  .to-btn-dropdown.to-btn-dropdown-primary .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #2074ff; }
  .to-btn-dropdown.to-btn-dropdown-primary .to-btn-dropdown-list > li > a {
    color: #FFF; }
    .to-btn-dropdown.to-btn-dropdown-primary .to-btn-dropdown-list > li > a:hover {
      color: #f2f2f2;
      background: #2b7aff; }

.to-btn-dropdown.to-btn-dropdown-plain .to-btn-dropdown-list {
  background: rgba(255, 255, 255, 0.95);
  border-color: #e6e6e6; }
  .to-btn-dropdown.to-btn-dropdown-plain .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #ededed; }
  .to-btn-dropdown.to-btn-dropdown-plain .to-btn-dropdown-list > li > a {
    color: #1B9AF7; }
    .to-btn-dropdown.to-btn-dropdown-plain .to-btn-dropdown-list > li > a:hover {
      color: #088ef0;
      background: #f2f2f2; }

.to-btn-dropdown.to-btn-dropdown-inverse .to-btn-dropdown-list {
  background: rgba(34, 34, 34, 0.95);
  border-color: #090909; }
  .to-btn-dropdown.to-btn-dropdown-inverse .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #101010; }
  .to-btn-dropdown.to-btn-dropdown-inverse .to-btn-dropdown-list > li > a {
    color: #EEE; }
    .to-btn-dropdown.to-btn-dropdown-inverse .to-btn-dropdown-list > li > a:hover {
      color: #e1e1e1;
      background: #151515; }

.to-btn-dropdown.to-btn-dropdown-action .to-btn-dropdown-list {
  background: rgba(165, 222, 55, 0.95);
  border-color: #8bc220; }
  .to-btn-dropdown.to-btn-dropdown-action .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #94cf22; }
  .to-btn-dropdown.to-btn-dropdown-action .to-btn-dropdown-list > li > a {
    color: #FFF; }
    .to-btn-dropdown.to-btn-dropdown-action .to-btn-dropdown-list > li > a:hover {
      color: #f2f2f2;
      background: #9ad824; }

.to-btn-dropdown.to-btn-dropdown-highlight .to-btn-dropdown-list {
  background: rgba(254, 174, 27, 0.95);
  border-color: #e59501; }
  .to-btn-dropdown.to-btn-dropdown-highlight .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #f49f01; }
  .to-btn-dropdown.to-btn-dropdown-highlight .to-btn-dropdown-list > li > a {
    color: #FFF; }
    .to-btn-dropdown.to-btn-dropdown-highlight .to-btn-dropdown-list > li > a:hover {
      color: #f2f2f2;
      background: #fea502; }

.to-btn-dropdown.to-btn-dropdown-caution .to-btn-dropdown-list {
  background: rgba(255, 67, 81, 0.95);
  border-color: #ff1022; }
  .to-btn-dropdown.to-btn-dropdown-caution .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #ff1f30; }
  .to-btn-dropdown.to-btn-dropdown-caution .to-btn-dropdown-list > li > a {
    color: #FFF; }
    .to-btn-dropdown.to-btn-dropdown-caution .to-btn-dropdown-list > li > a:hover {
      color: #f2f2f2;
      background: #ff2a39; }

.to-btn-dropdown.to-btn-dropdown-royal .to-btn-dropdown-list {
  background: rgba(123, 114, 233, 0.95);
  border-color: #5246e2; }
  .to-btn-dropdown.to-btn-dropdown-royal .to-btn-dropdown-list .to-btn-dropdown-divider {
    border-color: #5e53e4; }
  .to-btn-dropdown.to-btn-dropdown-royal .to-btn-dropdown-list > li > a {
    color: #FFF; }
    .to-btn-dropdown.to-btn-dropdown-royal .to-btn-dropdown-list > li > a:hover {
      color: #f2f2f2;
      background: #665ce6; }

/*
* Buton Groups
*
* A group of related buttons
* displayed edge to edge
*/
.to-btn-group {
  position: relative;
  display: inline-block; }
  .to-btn-group:after {
    content: " ";
    display: block;
    clear: both; }
  .to-btn-group .to-btn,
  .to-btn-group .to-btn-dropdown {
    float: left; }
    .to-btn-group .to-btn:not(:first-child):not(:last-child),
    .to-btn-group .to-btn-dropdown:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-right: none; }
    .to-btn-group .to-btn:first-child,
    .to-btn-group .to-btn-dropdown:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none; }
    .to-btn-group .to-btn:last-child,
    .to-btn-group .to-btn-dropdown:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

/*
* Button Wrapper
*
* A wrap around effect to highlight
* the shape of the button and offer
* a subtle visual effect.
*/
.to-btn-wrap {
  border: 1px solid #e3e3e3;
  display: inline-block;
  padding: 9px;
  background: linear-gradient(#f2f2f2, #FFF);
  border-radius: 200px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04); }

/*
* Long Shadow Buttons
*
* A visual effect adding a flat shadow to the text of a button
*/
/*
* Long Shadow Function
*
* Loops $length times building a long shadow. Defaults downward right
*/
/*
* LONG SHADOW MIXIN
*
*/
/*
* Shadow Right
*
*/
.to-btn-longshadow,
.to-btn-longshadow-right {
  overflow: hidden; }
  .to-btn-longshadow.to-btn-primary,
  .to-btn-longshadow-right.to-btn-primary {
    text-shadow: 0px 0px #116aff, 1px 1px #116aff, 2px 2px #116aff, 3px 3px #116aff, 4px 4px #116aff, 5px 5px #116aff, 6px 6px #116aff, 7px 7px #116aff, 8px 8px #116aff, 9px 9px #116aff, 10px 10px #116aff, 11px 11px #116aff, 12px 12px #116aff, 13px 13px #116aff, 14px 14px #116aff, 15px 15px #116aff, 16px 16px #116aff, 17px 17px #116aff, 18px 18px #116aff, 19px 19px #116aff, 20px 20px #116aff, 21px 21px #116aff, 22px 22px #116aff, 23px 23px #116aff, 24px 24px #116aff, 25px 25px #116aff, 26px 26px #116aff, 27px 27px #116aff, 28px 28px #116aff, 29px 29px #116aff, 30px 30px #116aff, 31px 31px #116aff, 32px 32px #116aff, 33px 33px #116aff, 34px 34px #116aff, 35px 35px #116aff, 36px 36px #116aff, 37px 37px #116aff, 38px 38px #116aff, 39px 39px #116aff, 40px 40px #116aff, 41px 41px #116aff, 42px 42px #116aff, 43px 43px #116aff, 44px 44px #116aff, 45px 45px #116aff, 46px 46px #116aff, 47px 47px #116aff, 48px 48px #116aff, 49px 49px #116aff, 50px 50px #116aff, 51px 51px #116aff, 52px 52px #116aff, 53px 53px #116aff, 54px 54px #116aff, 55px 55px #116aff, 56px 56px #116aff, 57px 57px #116aff, 58px 58px #116aff, 59px 59px #116aff, 60px 60px #116aff, 61px 61px #116aff, 62px 62px #116aff, 63px 63px #116aff, 64px 64px #116aff, 65px 65px #116aff, 66px 66px #116aff, 67px 67px #116aff, 68px 68px #116aff, 69px 69px #116aff, 70px 70px #116aff, 71px 71px #116aff, 72px 72px #116aff, 73px 73px #116aff, 74px 74px #116aff, 75px 75px #116aff, 76px 76px #116aff, 77px 77px #116aff, 78px 78px #116aff, 79px 79px #116aff, 80px 80px #116aff, 81px 81px #116aff, 82px 82px #116aff, 83px 83px #116aff, 84px 84px #116aff, 85px 85px #116aff; }
    .to-btn-longshadow.to-btn-primary:active, .to-btn-longshadow.to-btn-primary.active, .to-btn-longshadow.to-btn-primary.is-active,
    .to-btn-longshadow-right.to-btn-primary:active,
    .to-btn-longshadow-right.to-btn-primary.active,
    .to-btn-longshadow-right.to-btn-primary.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-plain,
  .to-btn-longshadow-right.to-btn-plain {
    text-shadow: 0px 0px #e6e6e6, 1px 1px #e6e6e6, 2px 2px #e6e6e6, 3px 3px #e6e6e6, 4px 4px #e6e6e6, 5px 5px #e6e6e6, 6px 6px #e6e6e6, 7px 7px #e6e6e6, 8px 8px #e6e6e6, 9px 9px #e6e6e6, 10px 10px #e6e6e6, 11px 11px #e6e6e6, 12px 12px #e6e6e6, 13px 13px #e6e6e6, 14px 14px #e6e6e6, 15px 15px #e6e6e6, 16px 16px #e6e6e6, 17px 17px #e6e6e6, 18px 18px #e6e6e6, 19px 19px #e6e6e6, 20px 20px #e6e6e6, 21px 21px #e6e6e6, 22px 22px #e6e6e6, 23px 23px #e6e6e6, 24px 24px #e6e6e6, 25px 25px #e6e6e6, 26px 26px #e6e6e6, 27px 27px #e6e6e6, 28px 28px #e6e6e6, 29px 29px #e6e6e6, 30px 30px #e6e6e6, 31px 31px #e6e6e6, 32px 32px #e6e6e6, 33px 33px #e6e6e6, 34px 34px #e6e6e6, 35px 35px #e6e6e6, 36px 36px #e6e6e6, 37px 37px #e6e6e6, 38px 38px #e6e6e6, 39px 39px #e6e6e6, 40px 40px #e6e6e6, 41px 41px #e6e6e6, 42px 42px #e6e6e6, 43px 43px #e6e6e6, 44px 44px #e6e6e6, 45px 45px #e6e6e6, 46px 46px #e6e6e6, 47px 47px #e6e6e6, 48px 48px #e6e6e6, 49px 49px #e6e6e6, 50px 50px #e6e6e6, 51px 51px #e6e6e6, 52px 52px #e6e6e6, 53px 53px #e6e6e6, 54px 54px #e6e6e6, 55px 55px #e6e6e6, 56px 56px #e6e6e6, 57px 57px #e6e6e6, 58px 58px #e6e6e6, 59px 59px #e6e6e6, 60px 60px #e6e6e6, 61px 61px #e6e6e6, 62px 62px #e6e6e6, 63px 63px #e6e6e6, 64px 64px #e6e6e6, 65px 65px #e6e6e6, 66px 66px #e6e6e6, 67px 67px #e6e6e6, 68px 68px #e6e6e6, 69px 69px #e6e6e6, 70px 70px #e6e6e6, 71px 71px #e6e6e6, 72px 72px #e6e6e6, 73px 73px #e6e6e6, 74px 74px #e6e6e6, 75px 75px #e6e6e6, 76px 76px #e6e6e6, 77px 77px #e6e6e6, 78px 78px #e6e6e6, 79px 79px #e6e6e6, 80px 80px #e6e6e6, 81px 81px #e6e6e6, 82px 82px #e6e6e6, 83px 83px #e6e6e6, 84px 84px #e6e6e6, 85px 85px #e6e6e6; }
    .to-btn-longshadow.to-btn-plain:active, .to-btn-longshadow.to-btn-plain.active, .to-btn-longshadow.to-btn-plain.is-active,
    .to-btn-longshadow-right.to-btn-plain:active,
    .to-btn-longshadow-right.to-btn-plain.active,
    .to-btn-longshadow-right.to-btn-plain.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-inverse,
  .to-btn-longshadow-right.to-btn-inverse {
    text-shadow: 0px 0px #090909, 1px 1px #090909, 2px 2px #090909, 3px 3px #090909, 4px 4px #090909, 5px 5px #090909, 6px 6px #090909, 7px 7px #090909, 8px 8px #090909, 9px 9px #090909, 10px 10px #090909, 11px 11px #090909, 12px 12px #090909, 13px 13px #090909, 14px 14px #090909, 15px 15px #090909, 16px 16px #090909, 17px 17px #090909, 18px 18px #090909, 19px 19px #090909, 20px 20px #090909, 21px 21px #090909, 22px 22px #090909, 23px 23px #090909, 24px 24px #090909, 25px 25px #090909, 26px 26px #090909, 27px 27px #090909, 28px 28px #090909, 29px 29px #090909, 30px 30px #090909, 31px 31px #090909, 32px 32px #090909, 33px 33px #090909, 34px 34px #090909, 35px 35px #090909, 36px 36px #090909, 37px 37px #090909, 38px 38px #090909, 39px 39px #090909, 40px 40px #090909, 41px 41px #090909, 42px 42px #090909, 43px 43px #090909, 44px 44px #090909, 45px 45px #090909, 46px 46px #090909, 47px 47px #090909, 48px 48px #090909, 49px 49px #090909, 50px 50px #090909, 51px 51px #090909, 52px 52px #090909, 53px 53px #090909, 54px 54px #090909, 55px 55px #090909, 56px 56px #090909, 57px 57px #090909, 58px 58px #090909, 59px 59px #090909, 60px 60px #090909, 61px 61px #090909, 62px 62px #090909, 63px 63px #090909, 64px 64px #090909, 65px 65px #090909, 66px 66px #090909, 67px 67px #090909, 68px 68px #090909, 69px 69px #090909, 70px 70px #090909, 71px 71px #090909, 72px 72px #090909, 73px 73px #090909, 74px 74px #090909, 75px 75px #090909, 76px 76px #090909, 77px 77px #090909, 78px 78px #090909, 79px 79px #090909, 80px 80px #090909, 81px 81px #090909, 82px 82px #090909, 83px 83px #090909, 84px 84px #090909, 85px 85px #090909; }
    .to-btn-longshadow.to-btn-inverse:active, .to-btn-longshadow.to-btn-inverse.active, .to-btn-longshadow.to-btn-inverse.is-active,
    .to-btn-longshadow-right.to-btn-inverse:active,
    .to-btn-longshadow-right.to-btn-inverse.active,
    .to-btn-longshadow-right.to-btn-inverse.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-action,
  .to-btn-longshadow-right.to-btn-action {
    text-shadow: 0px 0px #8bc220, 1px 1px #8bc220, 2px 2px #8bc220, 3px 3px #8bc220, 4px 4px #8bc220, 5px 5px #8bc220, 6px 6px #8bc220, 7px 7px #8bc220, 8px 8px #8bc220, 9px 9px #8bc220, 10px 10px #8bc220, 11px 11px #8bc220, 12px 12px #8bc220, 13px 13px #8bc220, 14px 14px #8bc220, 15px 15px #8bc220, 16px 16px #8bc220, 17px 17px #8bc220, 18px 18px #8bc220, 19px 19px #8bc220, 20px 20px #8bc220, 21px 21px #8bc220, 22px 22px #8bc220, 23px 23px #8bc220, 24px 24px #8bc220, 25px 25px #8bc220, 26px 26px #8bc220, 27px 27px #8bc220, 28px 28px #8bc220, 29px 29px #8bc220, 30px 30px #8bc220, 31px 31px #8bc220, 32px 32px #8bc220, 33px 33px #8bc220, 34px 34px #8bc220, 35px 35px #8bc220, 36px 36px #8bc220, 37px 37px #8bc220, 38px 38px #8bc220, 39px 39px #8bc220, 40px 40px #8bc220, 41px 41px #8bc220, 42px 42px #8bc220, 43px 43px #8bc220, 44px 44px #8bc220, 45px 45px #8bc220, 46px 46px #8bc220, 47px 47px #8bc220, 48px 48px #8bc220, 49px 49px #8bc220, 50px 50px #8bc220, 51px 51px #8bc220, 52px 52px #8bc220, 53px 53px #8bc220, 54px 54px #8bc220, 55px 55px #8bc220, 56px 56px #8bc220, 57px 57px #8bc220, 58px 58px #8bc220, 59px 59px #8bc220, 60px 60px #8bc220, 61px 61px #8bc220, 62px 62px #8bc220, 63px 63px #8bc220, 64px 64px #8bc220, 65px 65px #8bc220, 66px 66px #8bc220, 67px 67px #8bc220, 68px 68px #8bc220, 69px 69px #8bc220, 70px 70px #8bc220, 71px 71px #8bc220, 72px 72px #8bc220, 73px 73px #8bc220, 74px 74px #8bc220, 75px 75px #8bc220, 76px 76px #8bc220, 77px 77px #8bc220, 78px 78px #8bc220, 79px 79px #8bc220, 80px 80px #8bc220, 81px 81px #8bc220, 82px 82px #8bc220, 83px 83px #8bc220, 84px 84px #8bc220, 85px 85px #8bc220; }
    .to-btn-longshadow.to-btn-action:active, .to-btn-longshadow.to-btn-action.active, .to-btn-longshadow.to-btn-action.is-active,
    .to-btn-longshadow-right.to-btn-action:active,
    .to-btn-longshadow-right.to-btn-action.active,
    .to-btn-longshadow-right.to-btn-action.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-highlight,
  .to-btn-longshadow-right.to-btn-highlight {
    text-shadow: 0px 0px #e59501, 1px 1px #e59501, 2px 2px #e59501, 3px 3px #e59501, 4px 4px #e59501, 5px 5px #e59501, 6px 6px #e59501, 7px 7px #e59501, 8px 8px #e59501, 9px 9px #e59501, 10px 10px #e59501, 11px 11px #e59501, 12px 12px #e59501, 13px 13px #e59501, 14px 14px #e59501, 15px 15px #e59501, 16px 16px #e59501, 17px 17px #e59501, 18px 18px #e59501, 19px 19px #e59501, 20px 20px #e59501, 21px 21px #e59501, 22px 22px #e59501, 23px 23px #e59501, 24px 24px #e59501, 25px 25px #e59501, 26px 26px #e59501, 27px 27px #e59501, 28px 28px #e59501, 29px 29px #e59501, 30px 30px #e59501, 31px 31px #e59501, 32px 32px #e59501, 33px 33px #e59501, 34px 34px #e59501, 35px 35px #e59501, 36px 36px #e59501, 37px 37px #e59501, 38px 38px #e59501, 39px 39px #e59501, 40px 40px #e59501, 41px 41px #e59501, 42px 42px #e59501, 43px 43px #e59501, 44px 44px #e59501, 45px 45px #e59501, 46px 46px #e59501, 47px 47px #e59501, 48px 48px #e59501, 49px 49px #e59501, 50px 50px #e59501, 51px 51px #e59501, 52px 52px #e59501, 53px 53px #e59501, 54px 54px #e59501, 55px 55px #e59501, 56px 56px #e59501, 57px 57px #e59501, 58px 58px #e59501, 59px 59px #e59501, 60px 60px #e59501, 61px 61px #e59501, 62px 62px #e59501, 63px 63px #e59501, 64px 64px #e59501, 65px 65px #e59501, 66px 66px #e59501, 67px 67px #e59501, 68px 68px #e59501, 69px 69px #e59501, 70px 70px #e59501, 71px 71px #e59501, 72px 72px #e59501, 73px 73px #e59501, 74px 74px #e59501, 75px 75px #e59501, 76px 76px #e59501, 77px 77px #e59501, 78px 78px #e59501, 79px 79px #e59501, 80px 80px #e59501, 81px 81px #e59501, 82px 82px #e59501, 83px 83px #e59501, 84px 84px #e59501, 85px 85px #e59501; }
    .to-btn-longshadow.to-btn-highlight:active, .to-btn-longshadow.to-btn-highlight.active, .to-btn-longshadow.to-btn-highlight.is-active,
    .to-btn-longshadow-right.to-btn-highlight:active,
    .to-btn-longshadow-right.to-btn-highlight.active,
    .to-btn-longshadow-right.to-btn-highlight.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-caution,
  .to-btn-longshadow-right.to-btn-caution {
    text-shadow: 0px 0px #ff1022, 1px 1px #ff1022, 2px 2px #ff1022, 3px 3px #ff1022, 4px 4px #ff1022, 5px 5px #ff1022, 6px 6px #ff1022, 7px 7px #ff1022, 8px 8px #ff1022, 9px 9px #ff1022, 10px 10px #ff1022, 11px 11px #ff1022, 12px 12px #ff1022, 13px 13px #ff1022, 14px 14px #ff1022, 15px 15px #ff1022, 16px 16px #ff1022, 17px 17px #ff1022, 18px 18px #ff1022, 19px 19px #ff1022, 20px 20px #ff1022, 21px 21px #ff1022, 22px 22px #ff1022, 23px 23px #ff1022, 24px 24px #ff1022, 25px 25px #ff1022, 26px 26px #ff1022, 27px 27px #ff1022, 28px 28px #ff1022, 29px 29px #ff1022, 30px 30px #ff1022, 31px 31px #ff1022, 32px 32px #ff1022, 33px 33px #ff1022, 34px 34px #ff1022, 35px 35px #ff1022, 36px 36px #ff1022, 37px 37px #ff1022, 38px 38px #ff1022, 39px 39px #ff1022, 40px 40px #ff1022, 41px 41px #ff1022, 42px 42px #ff1022, 43px 43px #ff1022, 44px 44px #ff1022, 45px 45px #ff1022, 46px 46px #ff1022, 47px 47px #ff1022, 48px 48px #ff1022, 49px 49px #ff1022, 50px 50px #ff1022, 51px 51px #ff1022, 52px 52px #ff1022, 53px 53px #ff1022, 54px 54px #ff1022, 55px 55px #ff1022, 56px 56px #ff1022, 57px 57px #ff1022, 58px 58px #ff1022, 59px 59px #ff1022, 60px 60px #ff1022, 61px 61px #ff1022, 62px 62px #ff1022, 63px 63px #ff1022, 64px 64px #ff1022, 65px 65px #ff1022, 66px 66px #ff1022, 67px 67px #ff1022, 68px 68px #ff1022, 69px 69px #ff1022, 70px 70px #ff1022, 71px 71px #ff1022, 72px 72px #ff1022, 73px 73px #ff1022, 74px 74px #ff1022, 75px 75px #ff1022, 76px 76px #ff1022, 77px 77px #ff1022, 78px 78px #ff1022, 79px 79px #ff1022, 80px 80px #ff1022, 81px 81px #ff1022, 82px 82px #ff1022, 83px 83px #ff1022, 84px 84px #ff1022, 85px 85px #ff1022; }
    .to-btn-longshadow.to-btn-caution:active, .to-btn-longshadow.to-btn-caution.active, .to-btn-longshadow.to-btn-caution.is-active,
    .to-btn-longshadow-right.to-btn-caution:active,
    .to-btn-longshadow-right.to-btn-caution.active,
    .to-btn-longshadow-right.to-btn-caution.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow.to-btn-royal,
  .to-btn-longshadow-right.to-btn-royal {
    text-shadow: 0px 0px #5246e2, 1px 1px #5246e2, 2px 2px #5246e2, 3px 3px #5246e2, 4px 4px #5246e2, 5px 5px #5246e2, 6px 6px #5246e2, 7px 7px #5246e2, 8px 8px #5246e2, 9px 9px #5246e2, 10px 10px #5246e2, 11px 11px #5246e2, 12px 12px #5246e2, 13px 13px #5246e2, 14px 14px #5246e2, 15px 15px #5246e2, 16px 16px #5246e2, 17px 17px #5246e2, 18px 18px #5246e2, 19px 19px #5246e2, 20px 20px #5246e2, 21px 21px #5246e2, 22px 22px #5246e2, 23px 23px #5246e2, 24px 24px #5246e2, 25px 25px #5246e2, 26px 26px #5246e2, 27px 27px #5246e2, 28px 28px #5246e2, 29px 29px #5246e2, 30px 30px #5246e2, 31px 31px #5246e2, 32px 32px #5246e2, 33px 33px #5246e2, 34px 34px #5246e2, 35px 35px #5246e2, 36px 36px #5246e2, 37px 37px #5246e2, 38px 38px #5246e2, 39px 39px #5246e2, 40px 40px #5246e2, 41px 41px #5246e2, 42px 42px #5246e2, 43px 43px #5246e2, 44px 44px #5246e2, 45px 45px #5246e2, 46px 46px #5246e2, 47px 47px #5246e2, 48px 48px #5246e2, 49px 49px #5246e2, 50px 50px #5246e2, 51px 51px #5246e2, 52px 52px #5246e2, 53px 53px #5246e2, 54px 54px #5246e2, 55px 55px #5246e2, 56px 56px #5246e2, 57px 57px #5246e2, 58px 58px #5246e2, 59px 59px #5246e2, 60px 60px #5246e2, 61px 61px #5246e2, 62px 62px #5246e2, 63px 63px #5246e2, 64px 64px #5246e2, 65px 65px #5246e2, 66px 66px #5246e2, 67px 67px #5246e2, 68px 68px #5246e2, 69px 69px #5246e2, 70px 70px #5246e2, 71px 71px #5246e2, 72px 72px #5246e2, 73px 73px #5246e2, 74px 74px #5246e2, 75px 75px #5246e2, 76px 76px #5246e2, 77px 77px #5246e2, 78px 78px #5246e2, 79px 79px #5246e2, 80px 80px #5246e2, 81px 81px #5246e2, 82px 82px #5246e2, 83px 83px #5246e2, 84px 84px #5246e2, 85px 85px #5246e2; }
    .to-btn-longshadow.to-btn-royal:active, .to-btn-longshadow.to-btn-royal.active, .to-btn-longshadow.to-btn-royal.is-active,
    .to-btn-longshadow-right.to-btn-royal:active,
    .to-btn-longshadow-right.to-btn-royal.active,
    .to-btn-longshadow-right.to-btn-royal.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

/*
* Shadow Left
*
*/
.to-btn-longshadow-left {
  overflow: hidden; }
  .to-btn-longshadow-left.to-btn-primary {
    text-shadow: 0px 0px #116aff, -1px 1px #116aff, -2px 2px #116aff, -3px 3px #116aff, -4px 4px #116aff, -5px 5px #116aff, -6px 6px #116aff, -7px 7px #116aff, -8px 8px #116aff, -9px 9px #116aff, -10px 10px #116aff, -11px 11px #116aff, -12px 12px #116aff, -13px 13px #116aff, -14px 14px #116aff, -15px 15px #116aff, -16px 16px #116aff, -17px 17px #116aff, -18px 18px #116aff, -19px 19px #116aff, -20px 20px #116aff, -21px 21px #116aff, -22px 22px #116aff, -23px 23px #116aff, -24px 24px #116aff, -25px 25px #116aff, -26px 26px #116aff, -27px 27px #116aff, -28px 28px #116aff, -29px 29px #116aff, -30px 30px #116aff, -31px 31px #116aff, -32px 32px #116aff, -33px 33px #116aff, -34px 34px #116aff, -35px 35px #116aff, -36px 36px #116aff, -37px 37px #116aff, -38px 38px #116aff, -39px 39px #116aff, -40px 40px #116aff, -41px 41px #116aff, -42px 42px #116aff, -43px 43px #116aff, -44px 44px #116aff, -45px 45px #116aff, -46px 46px #116aff, -47px 47px #116aff, -48px 48px #116aff, -49px 49px #116aff, -50px 50px #116aff, -51px 51px #116aff, -52px 52px #116aff, -53px 53px #116aff, -54px 54px #116aff, -55px 55px #116aff, -56px 56px #116aff, -57px 57px #116aff, -58px 58px #116aff, -59px 59px #116aff, -60px 60px #116aff, -61px 61px #116aff, -62px 62px #116aff, -63px 63px #116aff, -64px 64px #116aff, -65px 65px #116aff, -66px 66px #116aff, -67px 67px #116aff, -68px 68px #116aff, -69px 69px #116aff, -70px 70px #116aff, -71px 71px #116aff, -72px 72px #116aff, -73px 73px #116aff, -74px 74px #116aff, -75px 75px #116aff, -76px 76px #116aff, -77px 77px #116aff, -78px 78px #116aff, -79px 79px #116aff, -80px 80px #116aff, -81px 81px #116aff, -82px 82px #116aff, -83px 83px #116aff, -84px 84px #116aff, -85px 85px #116aff; }
    .to-btn-longshadow-left.to-btn-primary:active, .to-btn-longshadow-left.to-btn-primary.active, .to-btn-longshadow-left.to-btn-primary.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-plain {
    text-shadow: 0px 0px #e6e6e6, -1px 1px #e6e6e6, -2px 2px #e6e6e6, -3px 3px #e6e6e6, -4px 4px #e6e6e6, -5px 5px #e6e6e6, -6px 6px #e6e6e6, -7px 7px #e6e6e6, -8px 8px #e6e6e6, -9px 9px #e6e6e6, -10px 10px #e6e6e6, -11px 11px #e6e6e6, -12px 12px #e6e6e6, -13px 13px #e6e6e6, -14px 14px #e6e6e6, -15px 15px #e6e6e6, -16px 16px #e6e6e6, -17px 17px #e6e6e6, -18px 18px #e6e6e6, -19px 19px #e6e6e6, -20px 20px #e6e6e6, -21px 21px #e6e6e6, -22px 22px #e6e6e6, -23px 23px #e6e6e6, -24px 24px #e6e6e6, -25px 25px #e6e6e6, -26px 26px #e6e6e6, -27px 27px #e6e6e6, -28px 28px #e6e6e6, -29px 29px #e6e6e6, -30px 30px #e6e6e6, -31px 31px #e6e6e6, -32px 32px #e6e6e6, -33px 33px #e6e6e6, -34px 34px #e6e6e6, -35px 35px #e6e6e6, -36px 36px #e6e6e6, -37px 37px #e6e6e6, -38px 38px #e6e6e6, -39px 39px #e6e6e6, -40px 40px #e6e6e6, -41px 41px #e6e6e6, -42px 42px #e6e6e6, -43px 43px #e6e6e6, -44px 44px #e6e6e6, -45px 45px #e6e6e6, -46px 46px #e6e6e6, -47px 47px #e6e6e6, -48px 48px #e6e6e6, -49px 49px #e6e6e6, -50px 50px #e6e6e6, -51px 51px #e6e6e6, -52px 52px #e6e6e6, -53px 53px #e6e6e6, -54px 54px #e6e6e6, -55px 55px #e6e6e6, -56px 56px #e6e6e6, -57px 57px #e6e6e6, -58px 58px #e6e6e6, -59px 59px #e6e6e6, -60px 60px #e6e6e6, -61px 61px #e6e6e6, -62px 62px #e6e6e6, -63px 63px #e6e6e6, -64px 64px #e6e6e6, -65px 65px #e6e6e6, -66px 66px #e6e6e6, -67px 67px #e6e6e6, -68px 68px #e6e6e6, -69px 69px #e6e6e6, -70px 70px #e6e6e6, -71px 71px #e6e6e6, -72px 72px #e6e6e6, -73px 73px #e6e6e6, -74px 74px #e6e6e6, -75px 75px #e6e6e6, -76px 76px #e6e6e6, -77px 77px #e6e6e6, -78px 78px #e6e6e6, -79px 79px #e6e6e6, -80px 80px #e6e6e6, -81px 81px #e6e6e6, -82px 82px #e6e6e6, -83px 83px #e6e6e6, -84px 84px #e6e6e6, -85px 85px #e6e6e6; }
    .to-btn-longshadow-left.to-btn-plain:active, .to-btn-longshadow-left.to-btn-plain.active, .to-btn-longshadow-left.to-btn-plain.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-inverse {
    text-shadow: 0px 0px #090909, -1px 1px #090909, -2px 2px #090909, -3px 3px #090909, -4px 4px #090909, -5px 5px #090909, -6px 6px #090909, -7px 7px #090909, -8px 8px #090909, -9px 9px #090909, -10px 10px #090909, -11px 11px #090909, -12px 12px #090909, -13px 13px #090909, -14px 14px #090909, -15px 15px #090909, -16px 16px #090909, -17px 17px #090909, -18px 18px #090909, -19px 19px #090909, -20px 20px #090909, -21px 21px #090909, -22px 22px #090909, -23px 23px #090909, -24px 24px #090909, -25px 25px #090909, -26px 26px #090909, -27px 27px #090909, -28px 28px #090909, -29px 29px #090909, -30px 30px #090909, -31px 31px #090909, -32px 32px #090909, -33px 33px #090909, -34px 34px #090909, -35px 35px #090909, -36px 36px #090909, -37px 37px #090909, -38px 38px #090909, -39px 39px #090909, -40px 40px #090909, -41px 41px #090909, -42px 42px #090909, -43px 43px #090909, -44px 44px #090909, -45px 45px #090909, -46px 46px #090909, -47px 47px #090909, -48px 48px #090909, -49px 49px #090909, -50px 50px #090909, -51px 51px #090909, -52px 52px #090909, -53px 53px #090909, -54px 54px #090909, -55px 55px #090909, -56px 56px #090909, -57px 57px #090909, -58px 58px #090909, -59px 59px #090909, -60px 60px #090909, -61px 61px #090909, -62px 62px #090909, -63px 63px #090909, -64px 64px #090909, -65px 65px #090909, -66px 66px #090909, -67px 67px #090909, -68px 68px #090909, -69px 69px #090909, -70px 70px #090909, -71px 71px #090909, -72px 72px #090909, -73px 73px #090909, -74px 74px #090909, -75px 75px #090909, -76px 76px #090909, -77px 77px #090909, -78px 78px #090909, -79px 79px #090909, -80px 80px #090909, -81px 81px #090909, -82px 82px #090909, -83px 83px #090909, -84px 84px #090909, -85px 85px #090909; }
    .to-btn-longshadow-left.to-btn-inverse:active, .to-btn-longshadow-left.to-btn-inverse.active, .to-btn-longshadow-left.to-btn-inverse.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-action {
    text-shadow: 0px 0px #8bc220, -1px 1px #8bc220, -2px 2px #8bc220, -3px 3px #8bc220, -4px 4px #8bc220, -5px 5px #8bc220, -6px 6px #8bc220, -7px 7px #8bc220, -8px 8px #8bc220, -9px 9px #8bc220, -10px 10px #8bc220, -11px 11px #8bc220, -12px 12px #8bc220, -13px 13px #8bc220, -14px 14px #8bc220, -15px 15px #8bc220, -16px 16px #8bc220, -17px 17px #8bc220, -18px 18px #8bc220, -19px 19px #8bc220, -20px 20px #8bc220, -21px 21px #8bc220, -22px 22px #8bc220, -23px 23px #8bc220, -24px 24px #8bc220, -25px 25px #8bc220, -26px 26px #8bc220, -27px 27px #8bc220, -28px 28px #8bc220, -29px 29px #8bc220, -30px 30px #8bc220, -31px 31px #8bc220, -32px 32px #8bc220, -33px 33px #8bc220, -34px 34px #8bc220, -35px 35px #8bc220, -36px 36px #8bc220, -37px 37px #8bc220, -38px 38px #8bc220, -39px 39px #8bc220, -40px 40px #8bc220, -41px 41px #8bc220, -42px 42px #8bc220, -43px 43px #8bc220, -44px 44px #8bc220, -45px 45px #8bc220, -46px 46px #8bc220, -47px 47px #8bc220, -48px 48px #8bc220, -49px 49px #8bc220, -50px 50px #8bc220, -51px 51px #8bc220, -52px 52px #8bc220, -53px 53px #8bc220, -54px 54px #8bc220, -55px 55px #8bc220, -56px 56px #8bc220, -57px 57px #8bc220, -58px 58px #8bc220, -59px 59px #8bc220, -60px 60px #8bc220, -61px 61px #8bc220, -62px 62px #8bc220, -63px 63px #8bc220, -64px 64px #8bc220, -65px 65px #8bc220, -66px 66px #8bc220, -67px 67px #8bc220, -68px 68px #8bc220, -69px 69px #8bc220, -70px 70px #8bc220, -71px 71px #8bc220, -72px 72px #8bc220, -73px 73px #8bc220, -74px 74px #8bc220, -75px 75px #8bc220, -76px 76px #8bc220, -77px 77px #8bc220, -78px 78px #8bc220, -79px 79px #8bc220, -80px 80px #8bc220, -81px 81px #8bc220, -82px 82px #8bc220, -83px 83px #8bc220, -84px 84px #8bc220, -85px 85px #8bc220; }
    .to-btn-longshadow-left.to-btn-action:active, .to-btn-longshadow-left.to-btn-action.active, .to-btn-longshadow-left.to-btn-action.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-highlight {
    text-shadow: 0px 0px #e59501, -1px 1px #e59501, -2px 2px #e59501, -3px 3px #e59501, -4px 4px #e59501, -5px 5px #e59501, -6px 6px #e59501, -7px 7px #e59501, -8px 8px #e59501, -9px 9px #e59501, -10px 10px #e59501, -11px 11px #e59501, -12px 12px #e59501, -13px 13px #e59501, -14px 14px #e59501, -15px 15px #e59501, -16px 16px #e59501, -17px 17px #e59501, -18px 18px #e59501, -19px 19px #e59501, -20px 20px #e59501, -21px 21px #e59501, -22px 22px #e59501, -23px 23px #e59501, -24px 24px #e59501, -25px 25px #e59501, -26px 26px #e59501, -27px 27px #e59501, -28px 28px #e59501, -29px 29px #e59501, -30px 30px #e59501, -31px 31px #e59501, -32px 32px #e59501, -33px 33px #e59501, -34px 34px #e59501, -35px 35px #e59501, -36px 36px #e59501, -37px 37px #e59501, -38px 38px #e59501, -39px 39px #e59501, -40px 40px #e59501, -41px 41px #e59501, -42px 42px #e59501, -43px 43px #e59501, -44px 44px #e59501, -45px 45px #e59501, -46px 46px #e59501, -47px 47px #e59501, -48px 48px #e59501, -49px 49px #e59501, -50px 50px #e59501, -51px 51px #e59501, -52px 52px #e59501, -53px 53px #e59501, -54px 54px #e59501, -55px 55px #e59501, -56px 56px #e59501, -57px 57px #e59501, -58px 58px #e59501, -59px 59px #e59501, -60px 60px #e59501, -61px 61px #e59501, -62px 62px #e59501, -63px 63px #e59501, -64px 64px #e59501, -65px 65px #e59501, -66px 66px #e59501, -67px 67px #e59501, -68px 68px #e59501, -69px 69px #e59501, -70px 70px #e59501, -71px 71px #e59501, -72px 72px #e59501, -73px 73px #e59501, -74px 74px #e59501, -75px 75px #e59501, -76px 76px #e59501, -77px 77px #e59501, -78px 78px #e59501, -79px 79px #e59501, -80px 80px #e59501, -81px 81px #e59501, -82px 82px #e59501, -83px 83px #e59501, -84px 84px #e59501, -85px 85px #e59501; }
    .to-btn-longshadow-left.to-btn-highlight:active, .to-btn-longshadow-left.to-btn-highlight.active, .to-btn-longshadow-left.to-btn-highlight.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-caution {
    text-shadow: 0px 0px #ff1022, -1px 1px #ff1022, -2px 2px #ff1022, -3px 3px #ff1022, -4px 4px #ff1022, -5px 5px #ff1022, -6px 6px #ff1022, -7px 7px #ff1022, -8px 8px #ff1022, -9px 9px #ff1022, -10px 10px #ff1022, -11px 11px #ff1022, -12px 12px #ff1022, -13px 13px #ff1022, -14px 14px #ff1022, -15px 15px #ff1022, -16px 16px #ff1022, -17px 17px #ff1022, -18px 18px #ff1022, -19px 19px #ff1022, -20px 20px #ff1022, -21px 21px #ff1022, -22px 22px #ff1022, -23px 23px #ff1022, -24px 24px #ff1022, -25px 25px #ff1022, -26px 26px #ff1022, -27px 27px #ff1022, -28px 28px #ff1022, -29px 29px #ff1022, -30px 30px #ff1022, -31px 31px #ff1022, -32px 32px #ff1022, -33px 33px #ff1022, -34px 34px #ff1022, -35px 35px #ff1022, -36px 36px #ff1022, -37px 37px #ff1022, -38px 38px #ff1022, -39px 39px #ff1022, -40px 40px #ff1022, -41px 41px #ff1022, -42px 42px #ff1022, -43px 43px #ff1022, -44px 44px #ff1022, -45px 45px #ff1022, -46px 46px #ff1022, -47px 47px #ff1022, -48px 48px #ff1022, -49px 49px #ff1022, -50px 50px #ff1022, -51px 51px #ff1022, -52px 52px #ff1022, -53px 53px #ff1022, -54px 54px #ff1022, -55px 55px #ff1022, -56px 56px #ff1022, -57px 57px #ff1022, -58px 58px #ff1022, -59px 59px #ff1022, -60px 60px #ff1022, -61px 61px #ff1022, -62px 62px #ff1022, -63px 63px #ff1022, -64px 64px #ff1022, -65px 65px #ff1022, -66px 66px #ff1022, -67px 67px #ff1022, -68px 68px #ff1022, -69px 69px #ff1022, -70px 70px #ff1022, -71px 71px #ff1022, -72px 72px #ff1022, -73px 73px #ff1022, -74px 74px #ff1022, -75px 75px #ff1022, -76px 76px #ff1022, -77px 77px #ff1022, -78px 78px #ff1022, -79px 79px #ff1022, -80px 80px #ff1022, -81px 81px #ff1022, -82px 82px #ff1022, -83px 83px #ff1022, -84px 84px #ff1022, -85px 85px #ff1022; }
    .to-btn-longshadow-left.to-btn-caution:active, .to-btn-longshadow-left.to-btn-caution.active, .to-btn-longshadow-left.to-btn-caution.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  .to-btn-longshadow-left.to-btn-royal {
    text-shadow: 0px 0px #5246e2, -1px 1px #5246e2, -2px 2px #5246e2, -3px 3px #5246e2, -4px 4px #5246e2, -5px 5px #5246e2, -6px 6px #5246e2, -7px 7px #5246e2, -8px 8px #5246e2, -9px 9px #5246e2, -10px 10px #5246e2, -11px 11px #5246e2, -12px 12px #5246e2, -13px 13px #5246e2, -14px 14px #5246e2, -15px 15px #5246e2, -16px 16px #5246e2, -17px 17px #5246e2, -18px 18px #5246e2, -19px 19px #5246e2, -20px 20px #5246e2, -21px 21px #5246e2, -22px 22px #5246e2, -23px 23px #5246e2, -24px 24px #5246e2, -25px 25px #5246e2, -26px 26px #5246e2, -27px 27px #5246e2, -28px 28px #5246e2, -29px 29px #5246e2, -30px 30px #5246e2, -31px 31px #5246e2, -32px 32px #5246e2, -33px 33px #5246e2, -34px 34px #5246e2, -35px 35px #5246e2, -36px 36px #5246e2, -37px 37px #5246e2, -38px 38px #5246e2, -39px 39px #5246e2, -40px 40px #5246e2, -41px 41px #5246e2, -42px 42px #5246e2, -43px 43px #5246e2, -44px 44px #5246e2, -45px 45px #5246e2, -46px 46px #5246e2, -47px 47px #5246e2, -48px 48px #5246e2, -49px 49px #5246e2, -50px 50px #5246e2, -51px 51px #5246e2, -52px 52px #5246e2, -53px 53px #5246e2, -54px 54px #5246e2, -55px 55px #5246e2, -56px 56px #5246e2, -57px 57px #5246e2, -58px 58px #5246e2, -59px 59px #5246e2, -60px 60px #5246e2, -61px 61px #5246e2, -62px 62px #5246e2, -63px 63px #5246e2, -64px 64px #5246e2, -65px 65px #5246e2, -66px 66px #5246e2, -67px 67px #5246e2, -68px 68px #5246e2, -69px 69px #5246e2, -70px 70px #5246e2, -71px 71px #5246e2, -72px 72px #5246e2, -73px 73px #5246e2, -74px 74px #5246e2, -75px 75px #5246e2, -76px 76px #5246e2, -77px 77px #5246e2, -78px 78px #5246e2, -79px 79px #5246e2, -80px 80px #5246e2, -81px 81px #5246e2, -82px 82px #5246e2, -83px 83px #5246e2, -84px 84px #5246e2, -85px 85px #5246e2; }
    .to-btn-longshadow-left.to-btn-royal:active, .to-btn-longshadow-left.to-btn-royal.active, .to-btn-longshadow-left.to-btn-royal.is-active {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }

/*
* Button Sizes
*
* This file creates the various button sizes
* (ex. .button-large, .button-small, etc.)
*/
.to-btn-giant {
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  padding: 0 70px; }

.to-btn-jumbo {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  padding: 0 60px; }

.to-btn-large {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 50px; }

.to-btn-normal {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px; }

.to-btn-small {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 30px; }

.to-btn-tiny {
  font-size: 9.6px;
  height: 24px;
  line-height: 24px;
  padding: 0 24px; }
