@charset "UTF-8";
@font-face {
  font-family: 'daily';
  src: url("../fonts/daily.eot?sxq9lf");
  src: url("../fonts/daily.eot?sxq9lf#iefix") format("embedded-opentype"), url("../fonts/daily.ttf?sxq9lf") format("truetype"), url("../fonts/daily.woff?sxq9lf") format("woff"), url("../fonts/daily.svg?sxq9lf#daily") format("svg");
  font-weight: normal;
  font-style: normal; }

.daily-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'daily' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.daily-app-star-four:before {
  content: ""; }

.daily-app-star-three:before {
  content: ""; }

.daily-app-star-two:before {
  content: ""; }

.daily-app-star:before {
  content: ""; }

.daily-app-clock-outline:before {
  content: ""; }

.daily-app-refresh:before {
  content: ""; }

.daily-app-add:before {
  content: ""; }

.daily-app-check-outline-full:before {
  content: ""; }

.daily-app-check-outline:before {
  content: ""; }

.daily-app-check:before {
  content: ""; }

.daily-app-circle:before {
  content: ""; }

.daily-app-close:before {
  content: ""; }

.daily-app-daily-full:before {
  content: ""; }

.daily-app-daily-outline:before {
  content: ""; }

.daily-app-daily:before {
  content: ""; }
