//##############################################################################
//
//  Daily List Element
//
//##############################################################################

$line-height--offset: 2;
$todo-checklist--height: 64;
$todo-checklist--font-size: 18;
$todo-checklist--line-height: $todo-checklist--font-size + $line-height--offset;
$todo-checklist__priority--font-size: 20;
$todo-checklist__priority--line-height: $todo-checklist__priority--font-size + $line-height--offset;

$todo-checkliste--background-color: white;
$state-a--background-color: $ios-theme-color;
$state-b--background-color: lighten($ios-theme-color, 15);
$state-c--background-color: lighten($ios-theme-color, 30);
$state-d--background-color: lighten($ios-theme-color, 45);

$check--color: $black-divider;
$check--color--checked: #7ED960;

// ELEMENTS

// MODIFIER

// Framework7 item content fix
li.swipeout.task .item-content {
  padding: 0!important;
}
.list-block.daily-task-list,
.list-block.todo-task-list {
  margin: 0;
}

.todo-checklist {
  min-height: $todo-checklist--height * 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;

  p {
    margin: 0;
  }

  &__list {
    min-height: $todo-checklist--height * 1px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  &__list:after {
    @include hairline($black-divider);
  }

  // priority element
  &__priority {
    display: flex;
    flex: 0 1 auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: $todo-checklist--height * 1px;
    min-width: $todo-checklist--height * 1px;
    color: rgba(0,0,0,0.54);
    font-weight: bold;
    font-size: $todo-checklist__priority--font-size * 1px;
    line-height: $todo-checklist__priority--line-height * 1px;
  }

  // content element
  &__content {
    flex: 1 1 auto;
    align-self: center;

    // min-height: $todo-checklist--height * 1px;
    padding: 10px 16px;
    font-size: $todo-checklist--font-size * 1px;
    line-height: $todo-checklist--line-height * 1px;
     @include text-overflow();

     small {
       opacity: 0.4;
       font-size: $caption;
     }
  }

  // checkbox element
  &__checkbox {
    display: flex;
    flex: 0 1 auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    min-height: $todo-checklist--height * 1px;
    min-width: $todo-checklist--height * 1px;

    > button {
      color: $black-divider;
      background-origin: content-box;
      background-color: inherit;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 0;
      padding: 5px;
      font-size: 32px;
    }
  }

  &--state-A,
  &--state-B,
  &--state-C,
  &--state-D {
    background: $todo-checkliste--background-color;
  }
  // state A modifier
  &--state-A {
    .todo-checklist__priority {
      background: $state-a--background-color;
    }
  }
  // state B modifier
  &--state-B {
    .todo-checklist__priority {
      background: $state-b--background-color;
    }
  }
  // state C modifier
  &--state-C {
    .todo-checklist__priority {
      background: $state-c--background-color;
    }
  }
  // state B modifier
  &--state-D {
    .todo-checklist__priority {
      background: $state-d--background-color;
    }
  }

  &--checked {
    background: white!important;
    .todo-checklist__priority,
    .todo-checklist__content,
    .todo-checklist__checkbox {
      background: inherit;
      color: $black-disabled;
    }
    .todo-checklist__content {
      text-decoration: line-through;
    }
    .todo-checklist__checkbox > button {
      color: $check--color--checked;
    }
  }

  &--list {
    .todo-checklist__list:after {
      margin-left: 16 * 1px;
    }
  }
}


.statusbar-overlay {
  transition: background-color $default-transition ease;
}


@each $theme-name, $theme-main-color, $theme-accent-color in $colors {
  .theme-#{$theme-name} {

    .statusbar-overlay {
      background-color: $theme-accent-color;
    }

    .todo-checklist {
      &__content {
        color: $theme-accent-color;
      }
      // state A modifier
      &--state-A {
        .todo-checklist__priority {
          background: $theme-main-color;
        }
      }
      // state B modifier
      &--state-B {
        .todo-checklist__priority {
          background: lighten($theme-main-color, 15);
        }
      }
      // state C modifier
      &--state-C {
        .todo-checklist__priority {
          background: lighten($theme-main-color, 30);
        }
      }
      // state B modifier
      &--state-D {
        .todo-checklist__priority {
          background: lighten($theme-main-color, 45);
        }
      }
    }
  }
}


.theme-red .todo-checklist--state-A .todo-checklist__priority,
.theme-red .todo-checklist--state-B .todo-checklist__priority,
.theme-blue .todo-checklist--state-A .todo-checklist__priority,
.theme-blue .todo-checklist--state-B .todo-checklist__priority,
.theme-pink .todo-checklist--state-A .todo-checklist__priority,
.theme-pink .todo-checklist--state-B .todo-checklist__priority,
.theme-orange .todo-checklist--state-A .todo-checklist__priority {
  color: $white-text-second;
}


.theme-daily .todo-checklist,
.theme-red .todo-checklist,
.theme-blue .todo-checklist,
.theme-green .todo-checklist,
.theme-pink .todo-checklist,
.theme-orange .todo-checklist {
  &--checked {
    .todo-checklist__priority,
    .todo-checklist__content,
    .todo-checklist__checkbox {
      color: $black-disabled;
    }
  }
}
