//##############################################################################
//
//  Default App Errors
//
//##############################################################################

$error--default--color: #9E9E9E;
$error--default--background-color: #FAFAFA;
$error--pink--color: #E91E63;
$error--pink--background-color: #FCE4EC;
$error--cyan--color: #00BCD4;
$error--cyan--background-color: #E0F7FA;
$error--red--color: #F44336;
$error--red--background-color: #FFEBEE;
$error--amber--color: #FFC107;
$error--amber--background-color: #FFF8E1;
$error--orange--color: #FF9800;
$error--orange--background-color: #FFF3E0;
$error--green--color: #4CAF50;
$error--green--background-color: #E8F5E9;

// ELEMENTS
// .error

// MODIFIER
// .error--403
// .error--404


.error {
  text-align: center;
  padding: 40px;
  border-left-style: solid;
  border-left-width: 10px;
  background-color: $error--default--background-color;
  border-left-color: $error--default--color;
  color: $error--default--color;

  > h1 {
    font-size: $display4;
    font-weight: 100;
    margin: 0;
  }

  > p {
    font-size: $headline;
    font-weight: $font-weight-light;
  }

// #############################################################################
// Elements
// #############################################################################
  //  ################################################################
  @include element('') {

  }
// #############################################################################
// Modifier
// #############################################################################
  // pink ######################################################################
  &--404, &--pink {
    background-color: $error--pink--background-color;
    border-left-color: $error--pink--color;
    color: $error--pink--color;
  }

  // cyan ######################################################################
  &--cyan {
    background-color: $error--cyan--background-color;
    border-left-color: $error--cyan--color;
    color: $error--cyan--color;
  }

  // red #######################################################################
  &--500, &--red {
    background-color: $error--red--background-color;
    border-left-color: $error--red--color;
    color: $error--red--color;
  }

  // amber #####################################################################
  &--amber {
    background-color: $error--amber--background-color;
    border-left-color: $error--amber--color;
    color: $error--amber--color;
  }

  // green #####################################################################
  &--200, &--green {
    background-color: $error--green--background-color;
    border-left-color: $error--green--color;
    color: $error--green--color;
  }

  // orange #####################################################################
  &--403, &--orange {
    background-color: $error--orange--background-color;
    border-left-color: $error--orange--color;
    color: $error--orange--color;
  }

  //  #######################################################################
  @include modifier('') {

  }

}

ul.alert {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: block;
    padding: 12px;
    padding-left: 2px;
    margin-left: 10px;
    border-top: 1px solid;

    &:first-child {
      border-top: 0;
    }
  }
}

.alert {
  padding: 20px;
  color: $error--cyan--color;
  border: 1px solid $error--cyan--color;
  font-size: $subhead;
  @include border-radius($default-border-radius * 1px);

  &--danger {
    color: $error--red--color!important;
    border-color: $error--red--color!important;
  }

  &--warning {
    color: $error--orange--color!important;
    border-color: $error--orange--color!important;
  }

  &--success {
    color: $error--green--color!important;
    border-color: $error--green--color!important;
  }
}


// #############################################################################
// MEDIA QUERIES
// #############################################################################
// Smartphone landscape (liegend)
@media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {

}
// Desktop aufwaerts
@media (min-width: rem($desktop-breakpoint-min)) {

}
// large Desktop aufwaerts
@media (min-width: rem($desktop-large-breakpoint-min)) {

}
