

.statusbar-overlay {
  background: #8E8E93; // // $ios-theme-color;// #666;
  /* We can add transition for smooth color animation */
  -webkit-transition: 400ms;
  transition: 400ms;
}

/* Change Status bar background when panel opened */
body.with-panel-left-cover .statusbar-overlay {
  background: #222;
}

.page {
  background-color: #EFEFEF;
}

// Subnav fix
.navbar-through .with-subnavbar .page-content {
  padding-top: 86px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
//##############################################################################
//
// CheckStyles
//
//##############################################################################

$color--A--light: #FFC107;
$color--A: $black-text-second;
$color--B--light: #FFCA28;
$color--B: $black-text-second;
$color--C--light: #FFD54F;
$color--C: $black-text-second;
$color--D--light: #FFE082;
$color--D: $black-text-second;

.check__item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 17px;
  padding: 11px;
  min-width: 22px;
  text-align: center;

  @include modifier('A') {
    color: $color--A!important;
    background-color: $color--A--light!important;
  }

  @include modifier('B') {
    color: $color--B!important;
    background-color: $color--B--light!important;
  }

  @include modifier('C') {
    color: $color--C!important;
    background-color: $color--C--light!important;
  }
}
