html, body {
  // background-color: $background-color;
  font-family: $default-font-family;
  font-weight: $font-weight-default;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  color: $black-text;
  z-index: 0;
}

// Layout Defaults #############################################################
html {
  box-sizing: border-box;
  background: black;
}
body {
  @include linear-gradient(-120deg, $color1, $color2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: $default-perspective * 1px;
}

// Body tag fix for side menu ##################################################
.overflow-hidden {
  overflow: hidden;
}
