//##############################################################################
//
// Daily-Theme Colors
//
//##############################################################################


$theme-daily: #FFC107;
$theme-daily-accent: #3D5AFE;

$theme-red: #ff3b30;
$theme-red-accent: #00E676;

$theme-blue: #007aff;
$theme-blue-accent: #FF9100;

$theme-green: #4cd964;
$theme-green-accent: #FF1744;

$theme-pink: #ff2d55;
$theme-pink-accent: #00C853;

$theme-orange: #ff9500;
$theme-orange-accent: #00BFA5;

$colors:
  ('daily', $theme-daily, $theme-daily-accent)
  ('red', $theme-red, $theme-red-accent)
  ('blue', $theme-blue, $theme-blue-accent)
  ('green', $theme-green, $theme-green-accent)
  ('pink', $theme-pink, $theme-pink-accent)
  ('orange', $theme-orange, $theme-orange-accent)
