//------------------------------------------------------------------------------
// Mixins
//
// Mixins:
//  > box-shadow()
//  > button-size()
//  > clearfix()
//  > text-overflow()
//  > user-select()
//  > placeholder()
//  > tab-focus()
//  > element($element)
//  > modifier($modifier)
//  > centerer()
//  > coverer()
//

//------------------------------------------------------------------------------
// Transition
//
@mixin transition( $transition ) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

//------------------------------------------------------------------------------
// Border Radius
//
@mixin border-radius( $radius ) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-radius( $radius ) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius( $radius ) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius( $radius ) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius( $radius ) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

//------------------------------------------------------------------------------
// Box Shadow
//
@mixin box-shadow( $shadow ) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

//------------------------------------------------------------------------------
// Button Größe
//
@mixin button-size($padding-vertical, $padding-horizontal, $margin-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  margin: 0 $margin-horizontal 0 $margin-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

//------------------------------------------------------------------------------
// Clearfix
//
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//------------------------------------------------------------------------------
// Text Overflow
//
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//------------------------------------------------------------------------------
// User Select
// For selecting text on the page
//
@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
          user-select: $select;
}

//------------------------------------------------------------------------------
// Placeholder text
//
@mixin placeholder($color: $black-disabled) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity
  }
  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

//------------------------------------------------------------------------------
// Tab Focus
//
@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

//------------------------------------------------------------------------------
// BEM (Block, Element, Modifier)
// from: https://css-tricks.com/snippets/sass/bem-mixins/
//

// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

//------------------------------------------------------------------------------
// Centerer
// parrent object -> "position: relative;"
//

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//------------------------------------------------------------------------------
// Coverer
//

@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//------------------------------------------------------------------------------
// Hairline
//

@mixin hairline($hairline-color) {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: $hairline-color;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transform: scaleY(.5);
}
