//------------------------------------------------------------------------------
// Responsive Breakpoints
// Values in "px"
//

$mobile-breakpoint-max:                   767;
$tablet-breakpoint-min:                   768;
$desktop-breakpoint-min:                  992;
$desktop-large-breakpoint-min:            1200;


// Website infos
$project-url: "";
$project-dir-images: "images/";
$project-namespace: 'todo-' !default;



// Defaults
$default-border-radius:                   2;
$default-navbar-height-mobile:            44;
$default-navbar-height:                   56;
$default-navbar-tab-height:               49;
$default-statusbar-offset:                20;
$background-color:                        white;

$default-transition:                      0.3s;
$default-perspective:                     1500;


// App Color
// Gradient
$color1: #81F3FD; //#1AD6FD; // #8BD8FD;
$color2: #1D77EF; //#1D62F0; // #5A93EF;

$ios-theme-color:  #FFC107;  //#1BB4F9;
$ios-theme-color-accent: #3D5AFE;



// Fontfamily
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
$default-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;



// Standard Theme
$black:                                   #000;
$black-text:                              rgba(0,0,0,0.87);
$black-text-second:                       rgba(0,0,0,0.54);
$black-disabled:                          rgba(0,0,0,0.26);
$black-divider:                           rgba(0,0,0,0.12);

// Dark Theme
$white:                                   #fff;
$white-text:                              rgba(255,255,255,1);
$white-text-second:                       rgba(255,255,255,0.7);
$white-disabled:                          rgba(255,255,255,0.3);
$white-divider:                           rgba(255,255,255,0.12);


// Font Defaults
$display4:                112px;
$display3:                56px;
$display2:                45px;
$display1:                36px;
$headline:                24px;
$title:                   18px;
$subhead:                 16px;
$body:                    14px;
$caption:                 12px;
$button:                  14px;



// Font weights Defaults
$font-weight-light:                   300;
$font-weight-default:                 400;
$font-weight-medium:                  700;



// Box Shadows
$shadow-z-0:                              none;
$shadow-z-1:                              0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,.24);
$shadow-z-2:                              0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
$shadow-z-2-h:                            0 6px 10px rgba(0,0,0,.23), 0 10px 30px rgba(0,0,0,.19);
$shadow-z-3:                              0 6px 10px rgba(0,0,0,.23), 0 10px 30px rgba(0,0,0,.19);
$shadow-z-4:                              0 10px 18px rgba(0,0,0,.22), 0 14px 45px rgba(0,0,0,.25);
$shadow-z-5:                              0 15px 20px rgba(0,0,0,.22), 0 19px 60px rgba(0,0,0,.3);
