//##############################################################################
//
//  Default App Form
//
//##############################################################################

$form--padding: 20;
$form--padding-element: 16;
$form--color: #009688;
$form--background-color: #E0F2F1;
$form--border: 1px solid rgba(0,0,0,0.26);

$form--color-facebook: #3b5998;
$form--color-google: #DC4E41;
$form--color-twitter: #55acee;

// ELEMENTS
// .bp-form
// .bp-form__element
// .bp-form__input-group
// .bp-form__button

// MODIFIER
// .bp-form--no-space

* {
  box-sizing: border-box;
}

.link {
  color: $form--color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.bp-form {
  width: 100%;
  padding-top: 40px;

// #############################################################################
// Elements
// #############################################################################
  // input-group ###############################################################
  @include element('element') {
    padding: ($form--padding-element * 1px) ($form--padding * 1px);
    @include clearfix();
  }

  // input-group ###############################################################
  @include element('input-group') {

    > input {
      -webkit-appearance: none;
      display: block;
      max-width: 100%;
      width:100%;
      padding: ($form--padding-element * 1px);
      vertical-align: middle;
      border: $form--border;
      position:relative;
      outline:0;
      @include transition(all 0.2s ease);
      @include border-radius(0);

      &:focus {
        border-color: $form--color;
        background-color: transparentize($form--color, 0.95);
      }
    }

    > input:first-child {
      @include border-top-radius($default-border-radius * 1px);
    }
    > input:last-child {
      @include border-bottom-radius($default-border-radius * 1px);
    }
  }

  // button ####################################################################
  @include element('button') {
    -webkit-appearance: none;
    display: block;
    width: auto;
    padding: ($form--padding-element * 1px) ($form--padding * 1px);
    width: 100%;
    border: 1px solid $form--color;
    color: $form--color;
    background-color: transparent;
    outline: 0;
    @include border-radius($default-border-radius * 1px);

    &:hover {
      background-color: transparentize($form--color, 0.95);
    }
  }
// #############################################################################
// Modifier
// #############################################################################
  // no-space ##################################################################
  @include modifier('no-space') {
    > input, > button {
      top: -1px;
      margin-bottom: -1px;
      z-index: 1;

      &:first-child {
        top: 0px;
        margin-bottom: 0;
      }

      &:focus {
        z-index: 2;
      }
    }
  }

  // small-space ###############################################################
  @include modifier('small-space') {
    > input, > button {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {
  .bp-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  // facebook ##################################################################
  @include modifier('facebook') {
    color: $form--color-facebook!important;
    border-color: $form--color-facebook!important;

    &:hover {
      background-color: transparentize($form--color-facebook, 0.95)!important;
    }
  }

  // google ####################################################################
  @include modifier('google') {
    color: $form--color-google!important;
    border-color: $form--color-google!important;

    &:hover {
      background-color: transparentize($form--color-google, 0.95)!important;
    }
  }

  // twitter ##################################################################
  @include modifier('twitter') {
    color: $form--color-twitter!important;
    border-color: $form--color-twitter!important;

    &:hover {
      background-color: transparentize($form--color-twitter, 0.95)!important;
    }
  }
}


// #############################################################################
// MEDIA QUERIES
// #############################################################################
// Smartphone landscape (liegend)
@media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {

}
// Desktop aufwaerts
@media (min-width: rem($desktop-breakpoint-min)) {

}
// large Desktop aufwaerts
@media (min-width: rem($desktop-large-breakpoint-min)) {

}
