// icons
// Based on ionicons

// ionicons navbar fix
.link.icon-only {
  font-size: 24px;
}


.btn-add-day i.daily-icon {
  font-size: 30px;
}

.todo-checklist__priority i.daily-icon {
  font-size: 32px;
}

.todo-checklist--checked {
  i.daily-app-circle:before {
    content: "\e902";
  }
}


// Tab Icon fix
.tabbar {

  i.icon {
    font-size: 30 * 1px;
    height: 40px!important;
  }

  &.tabbar-labels {
    i.icon {
      font-size: 28 * 1px;
      line-height: 1.1;
    }

    i.daily-icon {
      font-size: 30 * 1px;
      line-height: 32 * 1px;
    }
  }

  a.tab-link.active {

    // Daily Icon Font
    // active fix: not outline on active
    .daily-app-check-outline:before {
      content: "\e901";
    }

    // active fix: not outline on active
    .daily-app-daily-outline:before {
      content: "\e906";
    }



    // active fix: not outline on active
    .ion-ios-home-outline:before {
      content: "\f448";
    }

    // active fix: not outline on active
    .ion-ios-filing-outline:before {
      content: "\f429";
    }

    // active fix: not outline on active
    .ion-ios-checkmark-outline:before {
      content: "\f3ff";
    }

    // active fix: not outline on active
    .ion-ios-compose-outline:before {
      content: "\f418";
    }

    // active fix: not outline on active
    .ion-ios-gear-outline:before {
      content: "\f43d";
    }
  }
}

// app icons
i.icon.icon-form-location {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_location.svg");
}
i.icon.icon-form-statistics {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_statistics.svg");
}
i.icon.icon-form-theme {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_theme.svg");
}
i.icon.icon-form-info {
  width: 29px;
  height: 29px;
  background-image: url("../img/app/ios_app_info.svg");
}
