// daily5 ios theme


$text-color: $black-text-second;
$daily-color: $ios-theme-color;

.color-daily {
  color: $daily-color;
}
.list-block .item-link.list-button.color-daily,
.tabbar a.active.color-daily,
a.color-daily {
  color: $daily-color;
}
.label-switch input[type="checkbox"]:checked + .checkbox.color-daily,
.label-switch.color-daily input[type="checkbox"]:checked + .checkbox {
  background-color: $daily-color;
}
.color-daily.button:not(.button-fill),
.color-daily.buttons-row .button,
.theme-daily .button:not(.button-fill) {
  border-color: $daily-color;
}
html:not(.watch-active-state) .color-daily.button:not(.button-fill):active,
html:not(.watch-active-state) .color-daily.buttons-row .button:active,
html:not(.watch-active-state) .theme-daily .button:not(.button-fill):active,
.color-daily.button:not(.button-fill).active-state,
.color-daily.buttons-row .button.active-state,
.theme-daily .button:not(.button-fill).active-state {
  background-color: rgba(255, 204, 0, 0.15);
}
.color-daily.button:not(.button-fill).active,
.color-daily.buttons-row .button.active,
.theme-daily .button:not(.button-fill).active {
  background-color: $daily-color;
  color: $text-color;
}
.theme-daily .button.button-fill,
.button.button-fill.color-daily {
  background: $daily-color;
  color: $text-color;
}
.progressbar.color-daily span,
.progressbar.theme-daily span,
.theme-daily .progressbar span,
.progressbar.bg-daily span {
  background-color: $daily-color;
}
.progressbar-infinite.color-daily:before,
.progressbar-infinite.theme-daily:before,
.theme-daily .progressbar-infinite:before,
.progressbar-infinite.bg-daily:before {
  background-color: $daily-color;
}
.color-daily i.icon,
.theme-daily i.icon,
i.icon.color-daily,
i.icon.theme-daily {
  color: $daily-color;
}
i.icon-next.color-daily,
i.icon-next.theme-daily,
.theme-daily i.icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
i.icon-prev.color-daily,
i.icon-prev.theme-daily,
.theme-daily i.icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
i.icon-back.color-daily,
i.icon-back.theme-daily,
.theme-daily i.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E");
}
i.icon-forward.color-daily,
i.icon-forward.theme-daily,
.theme-daily i.icon-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E");
}
i.icon-bars.color-daily,
i.icon-bars.theme-daily,
.theme-daily i.icon-bars {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
}
@media (-webkit-min-device-pixel-ratio: 2) {
  i.icon-bars.color-daily,
  i.icon-bars.theme-daily,
  .theme-daily i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23ffcc00'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
  }
}
.theme-daily a,
.theme-daily .item-link.list-button {
  color: $daily-color;
}
.theme-daily .tabbar a,
.tabbar.theme-daily a,
.theme-daily .tabbar a i,
.tabbar.theme-daily a i {
  color: inherit;
}
.theme-daily .tabbar a.active,
.tabbar.theme-daily a.active,
.theme-daily .tabbar a.active i,
.tabbar.theme-daily a.active i {
  color: $daily-color;
}
.theme-daily .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-daily input[type="range"]::-webkit-slider-thumb:before {
  background-color: $daily-color;
}
.theme-daily .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-daily input[type="range"]::-ms-fill-lower {
  background-color: $daily-color;
}
.theme-daily label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-daily label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  background-color: $daily-color;
}
.theme-daily label.label-radio input[type="checkbox"]:checked ~ .item-inner,
.theme-daily label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23ffcc00'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}
.theme-daily .picker-calendar-day.picker-calendar-day-selected span {
  background-color: $daily-color !important;
}
.swiper-pagination.color-daily .swiper-pagination-bullet-active,
.theme-daily .swiper-pagination .swiper-pagination-bullet-active {
  background-color: $daily-color;
}
.swiper-button-next.color-daily,
.swiper-container-rtl .swiper-button-prev.color-daily,
.theme-daily .swiper-button-next,
.theme-daily .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.color-daily,
.swiper-container-rtl .swiper-button-next.color-daily,
.theme-daily .swiper-button-prev,
.theme-daily .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffcc00'%2F%3E%3C%2Fsvg%3E");
}
.bg-daily,
.button.button-fill.bg-daily,
a.bg-daily,
.list-block .swipeout-actions-left a.bg-daily,
.list-block .swipeout-actions-right a.bg-daily {
  background-color: $daily-color;
}
.border-daily {
  border-color: $daily-color;
}
.list-block .border-daily.item-inner:after,
.list-block ul.border-daily:after,
.border-daily:after,
.list-block .border-daily.item-inner:before,
.list-block ul.border-daily:before,
.border-daily:before {
  background-color: $daily-color;
}
.badge.color-daily,
.badge.theme-daily {
  background-color: $daily-color;
  color: $text-color;
}
