//##############################################################################
//
//
//
//##############################################################################


$canvas--transition: $default-transition;
$canvas--perspective: $default-perspective;


// ELEMENTS
// .todo-canvas

// .todo-content
// .todo-content__

// MODIFIER
// .todo-content--hidden-scrollbar

// #############################################################################
// todo-canvas
// #############################################################################
.#{$project-namespace}canvas {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: $canvas--transition;
  z-index: 10;

// #############################################################################
// Modifier
// #############################################################################
  // Animationen
  // fixed-top #################################################################
  @include modifier('open') {
    perspective: $canvas--perspective * 1px;
    transform: translate3d(200px,0,-400px);
    box-shadow: $shadow-z-5;
  }
  // fixed-top #################################################################
  @include modifier('new') {
    perspective: $canvas--perspective * 1px;
    transform: translate3d(0,20px,-100px);
    box-shadow: $shadow-z-5;
  }
}

// #############################################################################
// todo-content
// #############################################################################
.#{$project-namespace}content {
  position: absolute;
  // top: ($default-navbar-height-mobile + $default-statusbar-offset) * 1px;
  left: 0;
  bottom: $default-navbar-tab-height * 1px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  // Smartphone landscape (liegend)
  @media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {
    top: $default-navbar-height-mobile * 1px;
  }
  // Smartphone portrait (aufgestellt)
  @media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {
    top: ($default-navbar-height-mobile + $default-statusbar-offset) * 1px;
  }

// #############################################################################
// Elements
// #############################################################################
  // fixed-top #################################################################
  @include element('fixed-top') {

  }

// #############################################################################
// Modifier
// #############################################################################
  // fixed-top #################################################################
  @include modifier('fixed-top') {

  }

  // fixed-bottom ##############################################################
  @include modifier('hidden-scrollbar') {
    width: 100%;
    padding-right: 12px; // Hidden Scrollbar
  }
}





// #############################################################################
// MEDIA QUERIES
// #############################################################################
// Smartphone landscape (liegend)
@media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {

}
// Desktop aufwaerts
@media (min-width: rem($desktop-breakpoint-min)) {

}
// large Desktop aufwaerts
@media (min-width: rem($desktop-large-breakpoint-min)) {

}
