//##############################################################################
//
//
//
//##############################################################################

$navbar--statusbar-offset: $default-statusbar-offset;
$navbar--height: $default-navbar-height-mobile;
$navbar--color: $white-text;
$navbar--font-size: 30;

$navbar__tab--height: $default-navbar-tab-height;
$navbar__center--max-width: 54;


// ELEMENTS
// .todo-navbar
// .todo-navbar__right
// .todo-navbar__left
// .todo-navbar__center
// .todo-navbar__title
// .todo-navbar__tab

// MODIFIER
// .todo-navbar--fixed-top


.#{$project-namespace}navbar {
  background-color: rgba(0,0,0,0.16);
  height: $navbar--height * 1px;
  display: relative;
  @include clearfix();
  width: 100%;
  z-index: 30;

  > a.icon {
    position: relative;
    padding: 10px 12px;
    font-size: 24px;
    color:$navbar--color;

    &:hover {
      color:$navbar--color;
    }

    &.ion-ios-plus-empty {
      font-size: 30px!important;
      padding: 7px 12px!important;
    }
  }

// #############################################################################
// Elements
// #############################################################################
  &__left, &__right {
    position: absolute;
    top: 0;
    display: inline-block;
    max-width: (100 - $navbar__center--max-width) / 2 * 1%;
  }

  // left ######################################################################
  @include element('left') {
    left: 0;
  }

  // right #####################################################################
  @include element('right') {
    right: 0;
  }

  // center ####################################################################
  @include element('center') {
    margin-left: auto;
    margin-right: auto;
    max-width: $navbar__center--max-width * 1%;
    text-align: center;
  }

  // title #####################################################################
  @include element('title') {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: $font-weight-medium;
    line-height: $navbar--height * 1px;
    color: $navbar--color;
    text-align: center;
    white-space: nowrap;
  }

  // tab #######################################################################
  @include element('tab') {
    display: table-cell;
    width: 1%;
    height: $navbar__tab--height * 1px;
    text-align: center;
    vertical-align: middle;
    color: $navbar--color;
    font-size: $navbar--font-size * 1px;

    &:hover {
      color: $navbar--color;
    }
  }

// #############################################################################
// Modifier
// #############################################################################
  // fixed-top #################################################################
  @include modifier('fixed-top') {
    position: absolute;
    top: 0;
    left: 0;
  }

  // Smartphone landscape (liegend)
  @media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {
    @include modifier('fixed-top') {
      padding-top: 0;
    }
  }
  // Smartphone portrait (aufgestellt)
  @media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {
    @include modifier('fixed-top') {
      padding-top: (0 + $navbar--statusbar-offset) * 1px;
    }
  }

  // fixed-bottom ##############################################################
  @include modifier('fixed-bottom') {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $navbar__tab--height * 1px !important;
  }

  // fixed-bottom ##############################################################
  @include modifier('tabs') {

  }
}





// #############################################################################
// MEDIA QUERIES
// #############################################################################
// Smartphone landscape (liegend)
@media (max-width: rem($mobile-breakpoint-max))  and (orientation: landscape) {

}
// Smartphone portrait (aufgestellt)
@media (max-width: rem($mobile-breakpoint-max)) and (orientation: portrait) {

}
// Tablets aufwaerts
@media (min-width: rem($tablet-breakpoint-min)) {

}
// Desktop aufwaerts
@media (min-width: rem($desktop-breakpoint-min)) {

}
// large Desktop aufwaerts
@media (min-width: rem($desktop-large-breakpoint-min)) {

}
